<div class="common-wrapper">
  <div class="scoll-wrapper">
    <div class="scroll-container">
      <div class="common-list-wrapper">
        @for (teacher of teachersList | searchFilter: searchText : 'USER_LIST'; track $index) {
        <div class="common-list">
          <div class="list-left">
            <figure><img [src]="commonService.decodeUrl(teacher.profileImage ?? '')" alt=""></figure>
            <div class="common-list-right">
              <h4>{{teacher.firstName}} {{teacher.lastName}}</h4>
            </div>
          </div>
          <div class="icon-holder">
            <!-- <button><img src="../../../assets/images/icon-edit.svg" alt=""></button> -->
            <button><img src="../../../assets/images/icon-delete.svg" alt="" (click)="deleteTeacher(teacher)"></button>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>