@import '../../../styles/index';

.common-wrapper {
  padding: 30px;
  @include border-radius(15px);
  @include box-shadow(2px, 2px, 15px, var(--bg-shadow));
  flex-grow: 1;
  margin: 30px 0 0;
  height: 100%;
  position: relative;
  @include flex(flex, column, null, null);
}

.list-wrapper {
  @include flex(flex, column, null, null);
  flex-direction: row;

  .list-holder {
    max-width: 275px;
    width: 100%;
    @include border-radius(10px);
    border: 1px solid var(--bg-card-border);
  }
}

.scoll-wrapper {
  width: 100%;
  position: relative;
  height: 100%;

  .common-list-wrapper {
    display: flex;
    flex-flow: column wrap;
    flex-direction: row;
    gap: 10px;
    padding-right: 10px;
  }

  .scroll-container {
    @include flex(flex, column, null, null);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;

    .common-list {
      background: var(--bg-list);
      width: 100%;
      @include flex(flex, row, space-between, center);
      gap: 15px;
      position: relative;
      border: 1px solid var(--bg-input-border);
      overflow: hidden;
      @include border-radius(15px);

      .list-left {
        padding: 10px;
        gap: 10px;
        flex-grow: 1;
        @include flex(flex, null, null, center);
      }

      h4 {
        font-family: $poppins-regular;
        font-size: 0.938rem;
        color: var(--light-blue);
        font-weight: normal;
        line-height: 18px;
        margin-bottom: 5px;
        @include text-ellipsis($lines: 1);
      }

      figure {
        width: 50px;
        height: 50px;
        flex-shrink: 0;
        @include border-radius(100%);
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .common-list-right {
        max-width: 188px;
        width: 100%;
      }

      .icon-holder {
        background: var(--bg-shadow);
        @include flex(flex, null, null, center);
        @include border-radius(0 10px 10px 0);
        height: 100%;
        padding: 10px;
        border-left: 1px solid var(--bg-input-border);

        button {
          background: transparent;
          width: 23px;
          height: 23px;
          padding: 3px;
          border: 0;
          cursor: pointer;
        }
      }
    }
  }
}