@import '../../../styles/index';
.search-and-profile {
    @include flex(flex, null, flex-end, center);
    .icon-mobile {
      width: 37px;
      height: 27px;
      flex-shrink: 0;
      position: relative;
      @include flex(flex, null, center, center);
      display: none;
    }
    .search-holder {
      width: 100%;
      height: 100%;
      margin-right: 15px;
      @include flex(flex, null, flex-end, null);
      h1 {
        figure {
          width: 35px;
          height: 35px;
          margin-right: 10px;
        }
        @include flex(flex, null, null, center);
      }
      gap: 15px;
      .input-holder {
        position: relative;
        input {
          font-family: $archivo-regular;
          font-size: 1rem;
          color: var(--bg-label);
          border: 2px solid var(--bg-input-border);
          background: var(--bg-input);
          width: 300px;
          height: 100%;
          padding: 12px 50px 12px 15px;
          @include border-radius(15px);
          @include transition(all 0.2s ease-in-out);
          &:focus {
            border-color: var(--bg-mit1);
          }
        }
        button {
          background: url(../../../assets/images/icon-search.svg) no-repeat center center;
          width: 20px;
          height: 20px;
          position: absolute;
          top: 0;
          right: 20px;
          bottom: 0;
          margin: auto;
          border: none;
          cursor: pointer;
        }
        select {
          font-family: $archivo-regular;
          font-size: 1rem;
          color: var(--white);
          width: 160px;
          height: 100%;
          border: 2px solid var(--bg-input-border);
          background: transparent url(../../../assets/images/icon-arrow.svg) no-repeat 87% center;
          @include border-radius(15px);
          text-indent: 15px;
          appearance: none;
          transition: opacity 0.25s;
          &:focus {
            outline: none;
            border-color: var(--bg-mit1);
          }
        }
      }
      h1 {
        font-family: $poppins-bold;
        font-size: 1.875rem;
        color: var(--white);
        line-height: 3.75rem;
        margin-right: auto;
      }
    }
    .profile-area {
      max-width: fit-content;
      @include flex(flex, null, flex-end, center);
      gap: 15px;
      .common-holder {
        width: 60px;
        height: 60px;
        @include border-radius(15px);
        border: 2px solid var(--bg-input-border);
        @include flex(flex, null, center, center);
        flex-shrink: 0;
        position: relative;
        figure {
          width: 26px;
          height: 26px;
          img {
            width: 100%;
          }
        }
      }
      .profile {
        width: 60px;
        height: 60px;
        position: relative;
        figure{
          background: var(--bg-blue);
          width: 60px;
          height: 60px;
          @include border-radius(100%);
          position: relative;
          border: 1px solid var(--bg-input-border);
          overflow: hidden;
          flex-shrink: 0;          
        }       
        ul {
          @include gradient();
          border: var(--bg-input-border);
          width: 200px;
          position: absolute;
          right: 0;
          top: 65px;
          list-style: none;
          overflow: hidden;
          @include border-radius(5px);
          @include common-margin();
          @include transition(all 0.3s ease-out);  
          z-index: 1000;
          visibility: hidden;
          opacity: 0;
          li {
            font-size: 0.875rem;
            color: var(--white);
            width: 100%;            
            padding: 10px;
            cursor: pointer;
            @include transition(all 0.3s ease-out);
            &:hover {
              background: rgba(255,255,255, $alpha: 0.2);
            }
            &:not(:last-child){
              border-bottom: 1px solid rgba(255,255,255, $alpha: 0.2);
            }
          }        
        }
        &:hover > {
          ul {
            top: 60px;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
  