@import '../../../styles/index';
.search-and-profile {
    @include flex(flex, null, space-between, center);
    .icon-mobile {
      background: #CCC;
      width: 37px;
      height: 27px;
      flex-shrink: 0;
      position: relative;
      @include flex(flex, null, center, center);
      display: none;
    }
    h1 {
      font-family: $poppins-bold;
        font-size: 1.875rem;
        color: var(--white);
        line-height: 3.75rem;
      figure {
        width: 35px;
        height: 35px;
        margin-right: 10px;
      }
      @include flex(flex, null, null, center);
    }

    .search-left {
      @include flex(flex,null,space-between,null);
    }
    .search-holder {
      width: 100%;
      margin-right: 15px;
      @include flex(flex, null, flex-end, null);      
      gap: 15px;
      .input-holder {
        position: relative;
        input {
          font-family: $archivo-regular;
          font-size: 1rem;
          color: var(--bg-label);
          border: 2px solid var(--bg-input-border);
          background: var(--bg-input);
          max-width: 300px;
          width: 100%;
          height: 100%;
          padding: 12px 50px 12px 15px;
          @include border-radius(15px);
          @include transition(all 0.2s ease-in-out);
          &:focus {
            border-color: var(--bg-mit1);
          }
        }
        button {
          background: url(../../../assets/images/icon-search.svg) no-repeat center center;
          width: 20px;
          height: 20px;
          position: absolute;
          top: 0;
          right: 20px;
          bottom: 0;
          margin: auto;
          border: none;
          cursor: pointer;
        }
        select {
          font-family: $archivo-regular;
          font-size: 1rem;
          color: var(--white);
          width: 160px;
          height: 100%;
          border: 2px solid var(--bg-input-border);
          background: transparent url(../../../assets/images/icon-arrow.svg) no-repeat 87% center;
          @include border-radius(15px);
          text-indent: 15px;
          appearance: none;
          transition: opacity 0.25s;
          &:focus {
            outline: none;
            border-color: var(--bg-mit1);
          }
        }
      }
    }
    .profile-area {
      max-width: fit-content;
      @include flex(flex, null, flex-end, center);
      gap: 15px;
      .common-holder {
        width: 60px;
        height: 60px;
        @include border-radius(15px);
        border: 2px solid var(--bg-input-border);
        @include flex(flex, null, center, center);
        flex-shrink: 0;
        position: relative;
        figure {
          width: 26px;
          height: 26px;
          img {
            width: 100%;
          }
        }
      }
      .profile {
        width: 60px;
        height: 60px;
        position: relative;
        figure{
          background: var(--bg-blue);
          width: 60px;
          height: 60px;
          @include border-radius(100%);
          position: relative;
          border: 1px solid var(--bg-input-border);
          overflow: hidden;
          flex-shrink: 0;          
        }       
        ul {
          @include gradient();
          border: var(--bg-input-border);
          width: 200px;
          position: absolute;
          right: 0;
          top: 65px;
          list-style: none;
          overflow: hidden;
          @include border-radius(5px);
          @include common-margin();
          @include transition(all 0.3s ease-out);  
          z-index: 1000;
          visibility: hidden;
          opacity: 0;
          li {
            font-size: 0.875rem;
            color: var(--white);
            width: 100%;            
            padding: 10px;
            cursor: pointer;
            @include transition(all 0.3s ease-out);
            &:hover {
              background: rgba(255,255,255, $alpha: 0.2);
            }
            &:not(:last-child){
              border-bottom: 1px solid rgba(255,255,255, $alpha: 0.2);
            }
          }        
        }
        &:hover > {
          ul {
            top: 60px;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 1024px) {
    .dashboard-left {
      height: 100%;
      padding: 30px 10px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 100;
      transform: translateX(-100%);
      @include transition(transform, 0.3s ease-in-out);  
      &.active {
        transform: translateX(0);
      }
    }
  
    .search-and-profile {
      padding-right: 55px;
      .icon-mobile {
        position: absolute;
        right: 30px;
        top: 40px;
        display: block !important;
      }
    }

  } 
  
  @media screen and (max-width: 768px) {
    .search-and-profile {
      @include flex(flex,column,center,null);
      h1 {
        font-size: 1.25rem;
        order: 2;
        figure {
          width: 30px;
          height: 35px;
        }
      }
      .input-holder {
        height: 45px
      }
      .profile-area {
        @include flex(flex,null,flex-start,flex-start);
        .common-holder {
          width: 45px;
          height: 45px;
          @include border-radius(8px);
        }
        .profile {
          & figure {
            width: 45px;
            height: 45px;
          }          
        }
      }
      
    }
  }