<section class="dashboard-container">
  <div class="dashboard-right">
    <div class="dashboard-content">
      <div class="search-and-profile">
        <div class="icon-mobile" #btnTrigger (click)="mobileMenu()">
          <div class="menu btn11" data-menu="11" [ngClass]="mobMenu ? 'open' : ''">
            <div class="icon-left"></div>
            <div class="icon-right"></div>
          </div>
        </div>
        <div class="search-holder">
          <h1>
            <figure>
              <img src="../../../assets/images/icon-back.svg" alt="Back" />
            </figure>
            <span>Back</span>
          </h1>
          <div class="input-holder">
            <input type="text" placeholder="Search for..." />
            <button></button>
          </div>
          <div class="input-holder">
            <select>
              <option>This Year</option>
            </select>
          </div>
        </div>
        <div class="profile-area">
          <div class="common-holder">
            <figure>
              <img src="../../../assets/images/icon-notification.svg" alt="Notification" />
            </figure>
          </div>
          <div class="common-holder">
            <figure><img src="../../../assets/images/icon-flag.svg" alt="USA" /></figure>
          </div>
          <div class="profile">
            <figure>
              <img src="../../../assets/images/img-profile.png" alt="Godlee Cheriyan" />
            </figure>
          </div>
        </div>
      </div>
      <div class="title-holder">
        <h1>Upload New Course</h1>
        <!-- <div class="data-refreshed-holder">
          <button>
            <img src="../../../assets/images/icon-upload.svg" alt="Upload" />
            Upload Course
          </button>
        </div> -->
      </div>
    </div>
    <div class="common-container">
      <div class="content-area">
        <div class="content-left common-slider">
          <app-common-slider class="active"></app-common-slider>
        </div>
        <div class="content-right">
          <div class="content-box">
            <h3>Last Submitted</h3>
            <div class="reading-list-wrapper">
              <div class="reading-list-content">
                <div class="scroll-content">
                  <div class="reading-list">
                    <figure>
                      <img src="../../../assets/images/img-last-submited.png" alt="" />
                    </figure>
                    <div class="reading-list-right">
                      <h4>MIT Year 1 (C24)</h4>
                      <span>12 Chapters</span>
                      <button>Published</button>
                    </div>
                  </div>
                  <div class="reading-list">
                    <figure>
                      <img src="../../../assets/images/img-last-submited.png" alt="" />
                    </figure>
                    <div class="reading-list-right">
                      <h4>MIT Year 1 (C24)</h4>
                      <span>12 Chapters</span>
                      <button>Published</button>
                    </div>
                  </div>
                  <div class="reading-list">
                    <figure>
                      <img src="../../../assets/images/img-last-submited.png" alt="" />
                    </figure>
                    <div class="reading-list-right">
                      <h4>MIT Year 1 (C24)</h4>
                      <span>12 Chapters</span>
                      <button>Published</button>
                    </div>
                  </div>
                  <div class="reading-list">
                    <figure>
                      <img src="../../../assets/images/img-last-submited.png" alt="" />
                    </figure>
                    <div class="reading-list-right">
                      <h4>MIT Year 1 (C24)</h4>
                      <span>12 Chapters</span>
                      <button>Published</button>
                    </div>
                  </div>
                  <div class="reading-list">
                    <figure>
                      <img src="../../../assets/images/img-last-submited.png" alt="" />
                    </figure>
                    <div class="reading-list-right">
                      <h4>MIT Year 1 (C24)</h4>
                      <span>12 Chapters</span>
                      <button>Published</button>
                    </div>
                  </div>
                  <div class="reading-list">
                    <figure>
                      <img src="../../../assets/images/img-last-submited.png" alt="" />
                    </figure>
                    <div class="reading-list-right">
                      <h4>MIT Year 1 (C24)</h4>
                      <span>12 Chapters</span>
                      <button>Published</button>
                    </div>
                  </div>
                  <div class="reading-list">
                    <figure>
                      <img src="../../../assets/images/img-last-submited.png" alt="" />
                    </figure>
                    <div class="reading-list-right">
                      <h4>MIT Year 1 (C24)</h4>
                      <span>12 Chapters</span>
                      <button>Published</button>
                    </div>
                  </div>
                  <div class="reading-list">
                    <figure>
                      <img src="../../../assets/images/img-last-submited.png" alt="" />
                    </figure>
                    <div class="reading-list-right">
                      <h4>MIT Year 1 (C24)</h4>
                      <span>12 Chapters</span>
                      <button>Published</button>
                    </div>
                  </div>
                  <div class="reading-list">
                    <figure>
                      <img src="../../../assets/images/img-last-submited.png" alt="" />
                    </figure>
                    <div class="reading-list-right">
                      <h4>MIT Year 1 (C24)</h4>
                      <span>12 Chapters</span>
                      <button>Published</button>
                    </div>
                  </div>
                  <div class="reading-list">
                    <figure>
                      <img src="../../../assets/images/img-last-submited.png" alt="" />
                    </figure>
                    <div class="reading-list-right">
                      <h4>MIT Year 1 (C24)</h4>
                      <span>12 Chapters</span>
                      <button>Published</button>
                    </div>
                  </div>
                  <div class="reading-list">
                    <figure>
                      <img src="../../../assets/images/img-last-submited.png" alt="" />
                    </figure>
                    <div class="reading-list-right">
                      <h4>MIT Year 1 (C24)</h4>
                      <span>12 Chapters</span>
                      <button>Published</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
