@import '../../../styles/index';
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-thumb:horizontal {
  background: var(--bg-shadow);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:vertical {
  background: var(--bg-shadow);
  border-radius: 10px;
}
.accordion {
  font-family: $archivo-regular;
  font-size: 0.875rem;
  font-weight: normal;
  background: var(--bg-input);
  cursor: pointer;
  padding: 11px 14px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;  
  transition: 0.4s;  
  border: 1px solid var(--bg-border-input);
  color: rgba($color: #fff, $alpha: 0.3);
  @include border-radius(8px);
}
.accordion-content {
  position: relative;
  &:not(:last-child){
    margin-bottom: 20px;
  }
}
label {
  font-size: 0.785rem;
  color:  var(--white); 
  margin-bottom: 10px;
}

.accordion:after {
  content: '\002B';
  color: var( --bg-blue);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2212';
  color: var(--);
}

.panel {
  width: 100%;
  background: var(--bg-panel-acco);
  max-height: 0;
  overflow: hidden;
  color: var(--white);
  position: absolute;
  top: 64px;
  left: 0;
  @include border-radius(8px);
  transition: max-height 0.2s ease-out;
  overflow-y: auto;
  .panel-content {
    padding: 15px;
  }
  .panel-list {
    p {
      font-size: 0.875rem;
      color: rgba($color: #fff, $alpha: 0.3);
    }
    ul {
      @include common-margin;
      list-style: none;
      @include flex(flex, null, null, null);
      margin: 10px 0 0;
      li {
        font-size: 0.785rem;
        color: var( --bg-blue);
        cursor: pointer;        
        &:not(:last-child){
          padding-right: 5px;
          margin-right: 5px;
          border-right: 1px solid var( --bg-blue);
        }
      }
    }
    &:not(:last-child){
      border-bottom: 1px dashed rgba($color: #fff, $alpha: 0.3);
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
  }
}
