@import '../../../styles/index';

.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-weight: normal;
  border-radius: 8px;
  color: var(--light-blue);
  background: var(--bg-main);
  box-shadow: 2px 2px 15px var(--bg-shadow);
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2212';
}

.panel {
  padding: 0 18px;
  background-color: var(--bg-shadow);
  max-height: 0;
  overflow: hidden;
  color: var(--light-blue);
  transition: max-height 0.2s ease-out;
}
.panel-list {
  padding: 18px 0;
}
