<div class="accordion-content">
  <label>Attachment List</label>
  <button class="accordion" (click)="toggleAccordian($event, 0)">Attachment List</button>
  <div class="panel">
    <div class="panel-content">
      @for (attachment of attachmentList; track $index) {
      <div class="panel-list">
        <p> {{attachment.name}}</p>
        <ul>
          <li (click)="previewDocument(attachment)">Preview</li>
          <li (click)="attachmentList.splice($index,1)">Delete</li>
        </ul>
      </div>
      }
    </div>
  </div>
</div>