<div class="accordion-content">
  <label>Attachment List</label>
  <button class="accordion" (click)="toggleAccordian($event, 0)">Attachment List</button>
  <div class="panel">
    <div class="panel-content">
      <div class="panel-list">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        <ul>
          <li>Preview</li>
          <li>Delete</li>
        </ul>
      </div>
      <div class="panel-list">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        <ul>
          <li>Preview</li>
          <li>Delete</li>
        </ul>
      </div>
      <div class="panel-list">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        <ul>
          <li>Preview</li>
          <li>Delete</li>
        </ul>
      </div>
    </div>
  </div>
</div>
