@import '../../../styles/index';
.courses-wrapper {
  &.course-upload {
    margin-top: 0px;
    overflow: hidden;
  }
  .course-upload-form {
    counter-reset: section;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    h5 {
      font-size: 16px;
      font-weight: normal;
      color: var(--white);
    }
    .upload-form-holder {
      margin: 20px 0 0;
      @include flex(flex, null, null, null);
      gap: 25px;
      .course-upload-left {
        flex-grow: 1;
        .input-holder {
          margin-bottom: 20px;
        }
        label {
          font-size: 0.785rem;
          color: var(--white);
          margin-bottom: 10px;
        }
        input {
          &[type='text'] {
            font-family: $archivo-regular;
            font-size: 0.875rem;
            color: rgba($color: #fff, $alpha: 0.3);
            width: 100%;
            background: var(--bg-input);
            border: 1px solid var(--bg-border-input);
            padding: 11px 10px;
            @include border-radius(8px);
          }
        }
        textarea {
          font-family: $archivo-regular;
          font-size: 0.875rem;
          color: rgba($color: #fff, $alpha: 0.3);
          width: 100%;
          background: var(--bg-input);
          padding: 11px 10px;
          border: 1px solid var(--bg-border-input);
          @include border-radius(8px);
        }
      }
      .course-upload-right {
        max-width: 327px;
        width: 100%;
        @include flex(flex, column, flex-end, null);
        .drop-container {
          background: var(--bg-input);
          position: relative;
          display: flex;
          gap: 10px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100px;
          padding: 20px 20px 20px 90px;
          border-radius: 10px;
          border: 2px dashed var(--border-file);
          color: var(--white);
          cursor: pointer;
          transition:
            all 0.2s ease-in-out,
            border 0.2s ease-in-out;
          position: relative;
          span {
            &:nth-child(1) {
              font-family: $archivo-medium;
            }
            &:nth-child(2) {
              font-family: $archivo-light;
              color: var(--bg-blue);
            }
          }
          &::before {
            content: '';
            width: 56px;
            height: 56px;
            background: transparent url(../../../assets/images/icon-file-upload.svg) no-repeat
              center;
            position: absolute;
            left: 23px;
            top: 0;
            bottom: 0;
            margin: auto;
          }
          input {
            &[type='file'] {
              opacity: 0;
              position: absolute;
            }
          }
        }
        .selection-holder {
          @include flex(flex, null, space-between, null);
          gap: 20px;
          .input-holder {
            flex: 1;
            label {
              font-size: 0.875rem;
              color: var(--white);
              margin: 15px 0;
              display: block;
            }
            select {
              font-family: $archivo-regular;
              font-size: 0.875rem;
              color: rgba($color: #fff, $alpha: 0.3);
              width: 150px;
              height: 40px;
              border: 1px solid var(--bg-input-border);
              background: transparent url(../../../assets/images/icon-arrow.svg) no-repeat 87%
                center;
              @include border-radius(8px);
              text-indent: 10px;
              appearance: none;
              transition: opacity 0.25s;
              &:focus {
                outline: none;
                border-color: var(--bg-mit1);
              }
            }
          }
        }
      }
    }
    .chapter-container {
      background: var(--bg-input);
      @include border-radius(8px);
      padding: 15px;
      margin-top: 15px;
      @include flex(flex, null, null, center);
      &::before {
        counter-increment: section;
        content: 'Chapter ' counter(section) ' ';
        color: rgba($color: #fff, $alpha: 0.2);
        white-space: nowrap;
        margin-right: 30px;
      }
      label {
        font-size: 0.875rem;
        color: var(--white);
        margin: 0 30px 0 0;
      }
      .input-holder {
        max-width: 740px;
        width: 100%;
        @include flex(flex, null, null, center);
      }
      .chapter-right {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      input {
        &[type='text'] {
          font-family: $archivo-regular;
          font-size: 0.875rem;
          color: rgba($color: #fff, $alpha: 0.3);
          width: 100%;
          background: var(--bg-input);
          border: 1px solid var(--bg-border-input);
          padding: 11px 10px;
          @include border-radius(8px);
        }
      }
      button {
        font-family: $archivo-medium;
        font-size: 0.875rem;
        color: var(--white);
        width: 143px;
        height: 40px;
        background: var(--btn-upload);
        @include border-radius(8px);
        border: none;
        cursor: pointer;
        @include flex(flex, null, center, center);
        span {
          margin-left: 5px;
          display: block;
        }
      }
    }
    .other-info {
      display: flex;
      margin: 20px 0 0 0;
      gap: 10px;
      .input-holder {
        .price-holder {
          position: relative;
          &::before {
            font-family: $archivo-regular;
            font-size: 1rem;
            text-align: center;
            line-height: 40px;
            content: attr(data-currency);
            border-right: 1px solid var(--bg-border-input);
            color: rgba($color: #fff, $alpha: 0.3);
            width: 40px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
          }
          input {
            &[type='text'] {
              font-family: $archivo-regular;
              font-size: 0.875rem;
              color: rgba($color: #fff, $alpha: 0.3);
              max-width: 154px;
              background: var(--bg-input);
              border: 1px solid var(--bg-border-input);
              padding: 11px 10px 11px 58px;
              @include border-radius(8px);
            }
          }
        }
        label {
          font-size: 0.875rem;
          color: var(--white);
          margin: 0 0 10px 0;
        }
        select {
          font-family: $archivo-regular;
          font-size: 0.875rem;
          color: rgba($color: #fff, $alpha: 0.3);
          width: 280px;
          height: 40px;
          border: 1px solid var(--bg-input-border);
          background: var(--bg-input) url(../../../assets/images/icon-arrow.svg) no-repeat 93%
            center;
          @include border-radius(8px);
          text-indent: 10px;
          appearance: none;
          transition: opacity 0.25s;
          &:focus {
            outline: none;
            border-color: var(--bg-mit1);
          }
        }
      }
      button {
        font-family: $archivo-medium;
        font-size: 0.875rem;
        color: var(--white);
        width: 177px;
        height: 40px;
        @include border-radius(8px);
        border: none;
        cursor: pointer;
        margin-top: 25px;
        @include gradient();
      }
    }
  }
  .add-button {
    margin-top: 20px;
    button {
      font-family: $archivo-medium;
      font-size: 0.875rem;
      color: var(--white);
      width: 146px;
      height: 32px;
      background: var(--btn-add);
      @include border-radius(8px);
      border: none;
      cursor: pointer;
      @include flex(flex, null, center, center);
      span {
        margin-left: 5px;
        display: block;
      }
    }
  }
}
