<section class="dashboard-container">
  <div class="dashboard-right">
    <div class="dashboard-content">
      <div class="search-and-profile">
        <div class="icon-mobile" #btnTrigger (click)="mobileMenu()">
          <div class="menu btn11" data-menu="11" [ngClass]="mobMenu ? 'open' : ''">
            <div class="icon-left"></div>
            <div class="icon-right"></div>
          </div>
        </div>
        <div class="search-holder">
          <h1>
            <figure>
              <img src="../../../assets/images/icon-back.svg" alt="Back" />
            </figure>
            <span>Back</span>
          </h1>
          <div class="input-holder">
            <input type="text" placeholder="Search for..." />
            <button></button>
          </div>
          <div class="input-holder">
            <select>
              <option>This Year</option>
            </select>
          </div>
        </div>
        <div class="profile-area">
          <div class="common-holder">
            <figure>
              <img src="../../../assets/images/icon-notification.svg" alt="Notification" />
            </figure>
          </div>
          <div class="common-holder">
            <figure><img src="../../../assets/images/icon-flag.svg" alt="USA" /></figure>
          </div>
          <div class="profile">
            <figure>
              <img src="../../../assets/images/img-profile.png" alt="Godlee Cheriyan" />
            </figure>
          </div>
        </div>
      </div>
      <div class="title-holder">
        <h1>Upload New Course</h1>
        <!-- <div class="data-refreshed-holder">
          <button>
            <img src="../../../assets/images/icon-upload.svg" alt="Upload" />
            Upload Course
          </button>
        </div> -->
      </div>
    </div>
    <div class="common-container">
      <div class="content-area">
        <div class="content-left">
          <div class="course-form-upload-wrapper">
            <div class="course-upload-form">
              <h5>Enter New Course Details</h5>
              <div class="upload-form-holder">
                <div class="course-upload-left">
                  <div class="input-holder">
                    <label>Title</label>
                    <input type="text" placeholder="Type here" />
                  </div>
                  <div calss="input-holder">
                    <label>Description</label>
                    <textarea rows="5" cols="45"></textarea>
                  </div>
                </div>
                <div class="course-upload-right">
                  <label for="images" class="drop-container" id="dropcontainer">
                    <span class="drop-title">Upload Cover Image (19:6)</span>
                    <span>Drop your file here or browse</span>
                    <input type="file" id="images" accept="image/*" />
                  </label>
                  <div class="selection-holder">
                    <div class="input-holder">
                      <label>Department</label>
                      <select>
                        <option>IT</option>
                      </select>
                    </div>
                    <div class="input-holder">
                      <label>Year</label>
                      <select>
                        <option>2001</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            @for (chapter of courseChapterList; track $index) {
            <div class="course-upload-form">
              <div class="action-holder">
                <h5>Course Content</h5>
                <div class="add-button">
                  <button (click)="addNewChapter()">
                    <img src="../../../assets/images/icon-add.svg" />
                    <span>Add Chapter</span>
                  </button>
                  <button>
                    <img src="../../../assets/images/icon-add.svg" />
                    <span>Add Attachment</span>
                  </button>
                  <button>
                    <img src="../../../assets/images/icon-add.svg" class="icon-delete" />
                    <span>Delete</span>
                  </button>
                </div>
              </div>
              <div class="upload-form-holder">
                <div class="course-upload-left">
                  <div class="input-holder">
                    <label>Title</label>
                    <input type="text" placeholder="Type here" />
                  </div>
                  @for (item of chapter.fileDetails; track $index) {
                  <div calss="input-holder">
                    <label>Video Description</label>
                    <textarea rows="3" cols="45"></textarea>
                    <div class="add-button">
                      <button>
                        <img src="../../../assets/images/icon-video.svg" alt="" />
                        <span>Preview</span>
                      </button>
                      <button>
                        <img src="../../../assets/images/icon-video.svg" alt="" />
                        <span>Upload Video</span>
                      </button>
                      <button (click)="addNewVideoList(chapter)">
                        <img src="../../../assets/images/icon-add.svg" alt="" />
                        <span>Add</span>
                      </button>
                      <button>
                        <img src="../../../assets/images/icon-add.svg" class="icon-delete" alt="" />
                        <span>Delete</span>
                      </button>
                    </div>
                  </div>
                  }
                </div>
                <div class="accordion-holder">
                  <app-attachment-accordion></app-attachment-accordion>
                </div>
              </div>
            </div>
            }
          </div>
        </div>
        <div class="content-right">
          <div class="content-box">
            <h3>Last Submitted</h3>
            <div class="reading-list-wrapper">
              <div class="reading-list-content">
                <div class="scroll-content">
                  <div class="reading-list">
                    <figure>
                      <img src="../../../assets/images/img-last-submited.png" alt="" />
                    </figure>
                    <div class="reading-list-right">
                      <h4>MIT Year 1 (C24)</h4>
                      <span>12 Chapters</span>
                      <button>Published</button>
                    </div>
                  </div>
                  <div class="reading-list">
                    <figure>
                      <img src="../../../assets/images/img-last-submited.png" alt="" />
                    </figure>
                    <div class="reading-list-right">
                      <h4>MIT Year 1 (C24)</h4>
                      <span>12 Chapters</span>
                      <button>Published</button>
                    </div>
                  </div>
                  <div class="reading-list">
                    <figure>
                      <img src="../../../assets/images/img-last-submited.png" alt="" />
                    </figure>
                    <div class="reading-list-right">
                      <h4>MIT Year 1 (C24)</h4>
                      <span>12 Chapters</span>
                      <button>Published</button>
                    </div>
                  </div>
                  <div class="reading-list">
                    <figure>
                      <img src="../../../assets/images/img-last-submited.png" alt="" />
                    </figure>
                    <div class="reading-list-right">
                      <h4>MIT Year 1 (C24)</h4>
                      <span>12 Chapters</span>
                      <button>Published</button>
                    </div>
                  </div>
                  <div class="reading-list">
                    <figure>
                      <img src="../../../assets/images/img-last-submited.png" alt="" />
                    </figure>
                    <div class="reading-list-right">
                      <h4>MIT Year 1 (C24)</h4>
                      <span>12 Chapters</span>
                      <button>Published</button>
                    </div>
                  </div>
                  <div class="reading-list">
                    <figure>
                      <img src="../../../assets/images/img-last-submited.png" alt="" />
                    </figure>
                    <div class="reading-list-right">
                      <h4>MIT Year 1 (C24)</h4>
                      <span>12 Chapters</span>
                      <button>Published</button>
                    </div>
                  </div>
                  <div class="reading-list">
                    <figure>
                      <img src="../../../assets/images/img-last-submited.png" alt="" />
                    </figure>
                    <div class="reading-list-right">
                      <h4>MIT Year 1 (C24)</h4>
                      <span>12 Chapters</span>
                      <button>Published</button>
                    </div>
                  </div>
                  <div class="reading-list">
                    <figure>
                      <img src="../../../assets/images/img-last-submited.png" alt="" />
                    </figure>
                    <div class="reading-list-right">
                      <h4>MIT Year 1 (C24)</h4>
                      <span>12 Chapters</span>
                      <button>Published</button>
                    </div>
                  </div>
                  <div class="reading-list">
                    <figure>
                      <img src="../../../assets/images/img-last-submited.png" alt="" />
                    </figure>
                    <div class="reading-list-right">
                      <h4>MIT Year 1 (C24)</h4>
                      <span>12 Chapters</span>
                      <button>Published</button>
                    </div>
                  </div>
                  <div class="reading-list">
                    <figure>
                      <img src="../../../assets/images/img-last-submited.png" alt="" />
                    </figure>
                    <div class="reading-list-right">
                      <h4>MIT Year 1 (C24)</h4>
                      <span>12 Chapters</span>
                      <button>Published</button>
                    </div>
                  </div>
                  <div class="reading-list">
                    <figure>
                      <img src="../../../assets/images/img-last-submited.png" alt="" />
                    </figure>
                    <div class="reading-list-right">
                      <h4>MIT Year 1 (C24)</h4>
                      <span>12 Chapters</span>
                      <button>Published</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
