<section class="login-main-container">
  <div id="particles-js"></div>
  <section class="login-container">
    <div class="login-wrapper">
      <figure>
        <img
          src="../../../../assets/images/logo-mejestic-hourse-landing.svg"
          alt="Mejastic Hourse"
        />
      </figure>
      <h1>Password Reset</h1>
      <p>Please enter your registred Email</p>
      <div class="form-wrapper">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="input-holder">
            <label for="username">Email</label>
            <input
              type="text"
              name="username"
              placeholder="example@email.com"
              formControlName="email"
            />
            @if (isFieldInvalid(resetPasswordForm, 'email')) {
              <div class="error-message">
                @if (resetPasswordForm.get('email')?.errors?.['required']) {
                  <span>Email is required.</span>
                }
                @if (resetPasswordForm.get('email')?.errors?.['email']) {
                  <span>Please enter a valid email address.</span>
                }
              </div>
            }
          </div>
          <div class="input-holder">
            <label for="password">New Password</label>
            <input
              type="password"
              name="password"
              placeholder="Enter Your Password (6 characters)"
              formControlName="password"
            />
            @if (isFieldInvalid(resetPasswordForm, 'password')) {
              <div class="error-message">
                @if (getPasswordError(resetPasswordForm, 'required')) {
                  <span>Password is required.</span>
                }
              </div>
              @if (!getPasswordError(resetPasswordForm, 'required')) {
                <div class="suggestion-holder">
                  @if (getPasswordError(resetPasswordForm, 'minlength')) {
                    <span>* Password must be at least 6 characters long.</span>
                  }
                  @if (getPasswordError(resetPasswordForm, 'uppercase')) {
                    <span>* Password must contain at least one uppercase letter.</span>
                  }
                  @if (getPasswordError(resetPasswordForm, 'lowercase')) {
                    <span>* Password must contain at least one lowercase letter.</span>
                  }
                  @if (getPasswordError(resetPasswordForm, 'number')) {
                    <span>* Password must contain at least one number.</span>
                  }
                  @if (getPasswordError(resetPasswordForm, 'special')) {
                    <span>* Password must contain at least one special character.</span>
                  }
                </div>
              }
            }
          </div>
          <div class="input-holder">
            <label for="confirmpassword">Confirm Password</label>
            <input
              type="password"
              name="confirmpassword"
              placeholder="Enter Your Password (6 characters)"
              formControlName="confirmPassword"
            />
            @if (isFieldInvalid(resetPasswordForm, 'confirmPassword')) {
              <span> Confirm Password is required.</span>
            }
            @if (isPasswordMismatch(resetPasswordForm, 'password', 'confirmPassword')) {
              <span>Passwords do not match.</span>
            }
          </div>
          <button class="btn-login" type="submit">Send Reset</button>
          <span class="goto-login"
            >Got to Login Page
            <a (click)="gotToLoginPage()" href="javascript:void(0)">LOGIN </a></span
          >
        </form>
      </div>
    </div>
  </section>
</section>
