video {
    width: 100%;
    height: 440px;
    object-fit: cover;
    outline: none;
}

::ng-deep {
    app-video-player {
        height: fit-content!important;
    }
}

@media screen and (max-width: 768px) {
    video {
        height: 275px;
    }
}