@import '../styles/mixins';
app-dashboard-sidepanel,
app-dashboard-overview {
  @include flex(flex, null, null, null);
}
app-dashboard-sidepanel {
  max-width: 328px;
  width: 100%;
  flex-shrink: 0;
}
app-dashboard-overview,
app-courses,
app-course-overview,
app-questionnaire,
app-edit-account,
app-teachers-list,
app-students-list,
app-approval-list,
app-course-detils,
app-assign-teachers,
app-approval-pending,
app-student-teacher-assign-list,
app-course-overview, app-questionnaire, app-edit-account, app-teachers-list, app-students-list, app-approval-list, app-course-detils, app-dashboard-sidepanel, 
app-course-overview, app-registration-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}
app-under-construction {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
