@import '../styles/mixins';
app-dashboard-sidepanel,
app-dashboard-overview {
  @include flex(flex, null, null, null);
}
app-dashboard-sidepanel {
  max-width: 328px;
  width: 100%;
  flex-shrink: 0;
}
app-dashboard-overview,
app-courses,
app-course-overview, app-questionnaire, app-edit-account, app-teachers-list, app-students-list, app-approval-list, app-course-detils {
  flex-grow: 1;
}
app-under-construction {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
