@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    src: url($file-path + $font-family + '.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
  }
}
@include font-face('Archivo-Regular', '../assets/fonts/');
@include font-face('Archivo-Light', '../assets/fonts/');
@include font-face('Archivo-Medium', '../assets/fonts/');
@include font-face('Archivo-Bold', '../assets/fonts/');
@include font-face('Archivo-SemiBold', '../assets/fonts/');
@include font-face('League-spartan-Light', '../assets/fonts/');
@include font-face('League-spartan-Regular', '../assets/fonts/');
@include font-face('League-spartan-Medium', '../assets/fonts/');
@include font-face('League-spartan-Bold', '../assets/fonts/');
@include font-face('League-spartan-SemiBold', '../assets/fonts/');
@include font-face('Poppins-Bold', '../assets/fonts/');
@include font-face('Poppins-Medium', '../assets/fonts/');
@include font-face('Poppins-Regular', '../assets/fonts/');
@include font-face('TitilliumWeb-Regular', '../assets/fonts/');
@include font-face('TitilliumWeb-SemiBold', '../assets/fonts/');
@include font-face('TitilliumWeb-Light', '../assets/fonts/');
@include font-face('TitilliumWeb-Bold', '../assets/fonts/');
@mixin transition($property...) {
  -webkit-transition: $property;
  -moz-transition: $property;
  -o-transition: $property;
  transition: $property;
}
@mixin box-shadow($x-axis: 0, $y-axis: 0, $blur: 0, $color) {
  box-shadow: $x-axis $y-axis $blur $color;
}
@mixin border-radius($border...) {
  border-radius: $border;
}
@mixin common-margin {
  margin: 0px;
  padding: 0;
}
@mixin flex($flex, $direction, $justify-content, $align-items) {
  display: $flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}
@mixin gradient() {
  background: rgb(213, 45, 135);
  background: linear-gradient(45deg, rgba(213, 45, 135, 1) 0%, rgba(250, 61, 65, 1) 100%);
}
@mixin gradient-course() {
  background: rgb(230, 93, 63);
  background: linear-gradient(180deg, rgb(230, 93, 63) 10%, rgba(213, 45, 135, 1) 90%);
}
@mixin button {
  text-align: center;
  padding: 15px;
  border: none;
  outline: 0;
  cursor: pointer;
  @content;
}
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin user-select($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  -o-user-select: $value;
  user-select: $value;
}

@mixin btn($left, $top) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin icon($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 0;
  background-color: var(--white);
}

@mixin icon-before($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: var(--white);
  content: '';
  top: $top;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: var(--white);
  content: '';
  top: $top;
}

@mixin icon-circle($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 2px;
  border-radius: 100%;
  background: transparent;
  border: 4px solid black;
  left: -15px;
}

@mixin text-ellipsis($lines: 2) {
  text-overflow: ellipsis;
  overflow: hidden;
  @if ($lines > 1) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  } @else {
    white-space: nowrap;
  }
}
