$archivo-regular: 'Archivo-Regular';
$archivo-light: 'Archivo-Light';
$archivo-medium: 'Archivo-Medium';
$archivo-bold: 'Archivo-Bold';
$archivo-semi-bold: 'League-spartan-Bold';
$league-spartan-regular: 'League-spartan-Regular';
$league-spartan-light: 'League-spartan-Light';
$league-spartan-medium: 'League-spartan-Medium';
$league-spartan-bold: 'League-spartan-Bold';
$league-spartan-semi-bold: 'League-spartan-SemiBold';
$poppins-bold: 'Poppins-Bold';
$poppins-medium: 'Poppins-Medium';
$poppins-regular: 'Poppins-Regular';
:root {
  --bg-main: #031123;
  --bg-login: #021732;
  --light-blue: #d8e9ff;
  --white: #fff;
  --black: #000;
  --bg-magento: rgba(206, 27, 166, 0.5);
  --bg-input-border: #354585;
  --bg-input: rgba(0, 25, 59, 1);
  --bg-label: rgba(141, 141, 153, 1);
  --bg-blue: #4f89fc;
  --bg-orange: #e65d3f;
  --bg-divider: rgba(39, 50, 65, 1);
  --bg-dark-blue: #032145;
  --bg-left-panel: #00193b;
  --bg-nav-color: #969ba0;
  --bg-hover: #cd1aa7;
  --bg-grey: #9fa4a6;
  --bg-notification-red: #ff5470;
  --bg-notification-green: #02a189;
  --bg-shadow: #00285d;
  --bg-mit1: #ff5c38;
  --bg-mit2: #fb44b0;
  --bg-mit3: #ff3868;
  --bg-mit4: #432887;
  --bg-file-active: #6b4fb1;
  --bg-light-grey: #e2e1e1;
  --bg-card-border: #35458573;
  --bg-img: #d8d8d8;
  --bg-text-orange: #e25549;
  --bg-tab-nav: #0c2b57;
  --bg-tab-active: #06152b;
  --bg-green: #56d453;
  --bg-yellow: #ffc258;
  --color-blue: #35458573;
  --bg-input: #00193B;
  --bg-border-input: #354585;
  --border-file: #FF9399;
  --btn-upload: #EB365C;
  --btn-add: #FD7859;
  --bg-publish: #CCEABB40;
}
