$archivo-regular: 'Archivo-Regular';
$archivo-light: 'Archivo-Light';
$archivo-medium: 'Archivo-Medium';
$archivo-bold: 'Archivo-Bold';
$archivo-semi-bold: 'Archivo-SemiBold';
:root {
    --bg-main: #031123;
    --bg-login: #021732;
    --light-blue: #D8E9FF;
    --white: #FFF;
    --black: #000;
    --bg-magento: rgba(206,27,166, 0.5);
    --bg-input-border: #354585;
    --bg-input: rgba(0, 25, 59, 1);
    --bg-label: rgba(141, 141, 153, 1);
    --bg-blue: #4f89fc;
    --bg-orange: #e65d3f;
    --bg-divider: rgba(39, 50, 65, 1);
    --bg-dark-blue: #032145;
    --bg-left-panel: #00193B;
    --bg-nav-color: #969BA0;
    --bg-hover: #cd1aa7;
    --bg-grey: #9FA4A6;
    --bg-notification-red: #FF5470;
    --bg-notification-green: #02A189;
    --bg-shadow: #00285D;
    --bg-mit1: #FF5C38;
    --bg-mit2:#FB44B0;
    --bg-mit3: #FF3868;
    --bg-mit4: #432887;
    --bg-light-grey: #E2E1E1;
    --bg-card-border: #35458573;
    --bg-img: #D8D8D8;
    --bg-text-orange: #E25549;
}
