@import '../../../styles/index';

.common-container {
    @include flex(flex, column, null, null);
}

.content-area {
    @include flex(flex, null, center, null);
    gap: 22px;
    flex-grow: 1;
    margin: 30px 0 0;
}

@media screen and (max-width: 768px) {
    .content-area { 
        margin: 15px 0 0;
    }
    .registration-wrapper {
      &.edit {         
        .registration-holder {
          > figure {
            max-width: 122px;
          }
          h1 {
            font-size: 1.375rem;
          }
          .form-wrapper {
            .checkbox-holder {
              justify-content: center;
            }
            .image-holder {
              width: 100px;
              height: 100px;
              border-width: 6px;
              margin: 20px auto 0;
            }
           .input-row {
               @include flex(flex, column, null,null);
           }
           .btn-login {
            margin: 0 auto 15px;
           }
          }    
        }        
      }
    }
  }