@import '../../../styles/index';

:host {
  display: flex;
  flex: 1;
  min-height: 0;
  width: 100%;
}

.common-container {
  @include flex(flex, column, null, null);
  width: 100%;
  min-height: 0;
  flex: 1;
}

.content-area {
  width: 100%;
  align-items: stretch;
  justify-content: flex-start;
  flex: 1;
  min-height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .content-area {
    overflow-y: auto;
  }
}
