<section class="dashboard-container">
    <div class="dashboard-right">
        <div class="dashboard-inner">
            <div class="search-and-profile">
                <div class="icon-mobile">
                  <div class="menu btn11">
                    <div class="icon-left"></div>
                    <div class="icon-right"></div>
                  </div>
                </div>
                <div class="search-holder">
                  <h1>
                    <figure>
                      <img src="../../../assets/images/icon-wallet.svg" alt="Courses" />
                    </figure>
                    <span>Teachers</span>
                  </h1>
                  <div class="input-holder">
                    <input type="text" placeholder="Search for..." />
                    <button></button>
                  </div>
                </div>
                <div class="profile-area">
                  <!-- <div class="common-holder" (click)="logOut()"> -->
                    <figure style="width: 35px; height: 35px;"><img src="../../../assets/images/icon-logout.svg" alt="USA" /></figure>
                  </div>
                  <div class="profile">
                    <figure>
                      <!-- <img [src]="profileUrl"/> -->
                    </figure>
                  </div>
                </div>
            </div>
            <div class="common-container">
                <div class="common-wrapper">
                    <div class="scoll-wrapper">
                        <div class="scroll-container">
                            <div class="common-list-wrapper">
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                              <div class="common-list">
                                <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                                <div class="common-list-right">
                                  <h4>Stevan Store Williams</h4>
                                  <div class="icon-holder">
                                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>    
    </div>
  </section>
  