@import '../../../styles/index';


  .content-area {
    @include flex(flex, null, space-between, null);
    gap: 22px;
    flex-grow: 1;
    margin: 30px 0 0;
    .scroll-content {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;            
    }
    .content-left {
      max-width: 1195px;
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 100%;
      .scroll-content {
        left: 2%;
        width: 95%;
      }
      .courses-wrapper {
        padding: 30px;
        @include border-radius(15px);
        @include box-shadow(2px, 2px, 15px, var(--bg-shadow));
        flex-grow: 1;
        .question-inner {
          @include flex(flex,column,null,null);
          height: 100%;
          overflow: hidden;
          overflow-y: auto;
        }
        .form-holder {
          @include flex(flex,column,null,null);
          padding: 30px;
          position: relative;  
          height: 100%;    
          .course-top {
            h2 {
                font-family: $titilliumWeb-bold;
                font-size: 2rem;
                font-weight: normal;
                color: var(--white);
                letter-spacing: 1.5px;
                span {
                    font-family: $titilliumWeb-light;
                    font-size: 2rem;
                    color: var(--white);
                }
              }
              span {
                font-size: 1rem;
                color: var(--bg-grey);
        
              }
          }
          .questionnire-form {            
            flex-grow: 1;
            margin: 30px 0 0;
            counter-reset: my-sec-counter;
            padding: 0 0 115px;
            position: relative;
            .input-holder {
                margin-bottom: 20px;
            }
            .sub-title {
                font-size: 0.785rem;
                color:  var(--white); 
                line-height: 1.1rem;
                margin-bottom: 10px;
                &::before {
                    counter-increment: my-sec-counter;
                    content:  counter(my-sec-counter) ".";
                    margin: 0 7px 0 -14px;
                }
            }
            input {
                &[type="text"] {
                    font-family: $archivo-regular;
                    font-size: 0.875rem;
                    color: rgba($color: #fff, $alpha: 0.3);
                    width: 100%;
                    background: var(--bg-input);
                    border: 1px solid var(--bg-border-input);
                    padding: 11px 10px;
                    @include border-radius(8px);
                }
            }
            textarea {
                font-family: $archivo-regular;
                font-size: 0.875rem;
                color: rgba($color: #fff, $alpha: 0.3);
                width: 100%;
                background: var(--bg-input);
                padding: 11px 10px;
                border: 1px solid var(--bg-border-input);
                @include border-radius(8px);
            }
        
            .checkbox-holder  {
              margin-top: 20px;
                label {
                  font-size: 0.785rem;
                  color:  var(--white); 
                  margin-left: 60px;
                  height: 25px;
                  display: block;
                  position: relative;
                  cursor: pointer;
                  margin: 15px 0 15px 20px;
                  -webkit-user-select: none;
                  -moz-user-select: none;
                  -ms-user-select: none;
                  user-select: none;
                  @include border-radius(5px);
                  &:not(:last-child){
                    margin-bottom: 15px;
                  }
                  strong {
                    font-weight: normal;
                    position: relative;
                    top: 5px;
                    margin-left: 40px;
                    display: block;
                  }
                }
                input {
                  position: absolute;
                  opacity: 0;
                  cursor: pointer;
                  height: 0;
                  width: 0;
                }
                .checkmark {
                  border: 1px solid var(--white);
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 25px;
                  width: 25px;
                  @include border-radius(5px);
                }
                input:checked ~ .checkmark {
                    background-color: #fd7859;
                    border: none;
                    &:after {
                        display: block;
                    }
                }       
                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                    left: 8px;
                    top: 3px;
                    width: 5px;
                    height: 11px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                  }         
              } 
              button {
                font-family: $archivo-medium;
                font-size: 0.875rem;
                color:  var(--white);
                width: 211px;
                height: 44px;
                @include border-radius(20px);
                @include gradient();
                border: none;
                cursor: pointer;
                @include flex(flex, null, center, center);
              } 
          }
        }      
      }       
    }
    .content-right {
      max-width: 320px;
      width: 100%;
      flex-shrink: 0;
      @include flex(flex, column, null, null);
      gap: 25px;
      .content-box {
        @include box-shadow(2px, 2px, 15px, var(--bg-shadow));
        @include border-radius(15px);
        flex: 1;
        > figure {
          background: var(--bg-img);
          width: 110px;
          height: 110px;
          @include border-radius(100%);
          margin: 0 auto;
          position: relative;
          &::before {
            content: '';
            background: var(--bg-notification-green);
            width: 35px;
            height: 35px;
            position: absolute;
            bottom: 1px;
            right: -4px;
            @include border-radius(100%);
          }
        }
        > span {
          font-family: $archivo-bold;
          font-size: 1.5rem;
          color: var(--light-blue);
          text-align: center;
          margin: 20px 0;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          display: block;
        }
        strong {
          font-size: 0.813rem;
          font-family: $archivo-semi-bold;
          background: var(--bg-notification-red);
          padding: 5px 10px;
          margin: 10px auto 0;
          @include border-radius(5px);
          display: table;
          margin-bottom: 10px;
        }
        .contact-area {
          list-style: none;
          @include common-margin;
          li {
            text-align: center;
            margin-bottom: 5px;
            display: block;
            a {
              font-family: $archivo-regular;
              font-size: 0.875rem;
              color: var(--bg-blue);
              position: relative;
              @include transition(all 0.3s ease-in-out);
              &:hover {
                color: var(--white);
              }
              &::before {
                content: '';
                position: absolute;
                left: -24px;
                top: 2px;
              }
            }
            a[href^='mailto'] {
              &::before {
                width: 16px;
                height: 15px;
                background: url(../../../assets/images/icon-mail.svg) no-repeat center;
              }
            }
            a[href^='tel'] {
              &::before {
                width: 18px;
                height: 18px;
                background: url(../../../assets/images/icon-contact.svg) no-repeat center;
              }
            }
          }
        }
        h3 {
          font-family: $poppins-medium;
          font-size: 1.25rem;
          font-weight: normal;
          color: var(--light-blue);
          margin: 15px 0 15px 15px;
        }
        .reading-list-wrapper {
          height: 100%;
          position: relative;            
          .reading-list-content {
            height: 100%;              
            position: relative;
            overflow-y: auto;
          }           
          .reading-list {            
            @include flex(flex, row, null, null);
            padding: 10px 76px 10px 10px;
            gap: 15px;
            position: relative;
            &:not(:last-child) {
              border-bottom: 1px solid var(--color-blue);
            }
            h4 {
              font-family: $poppins-regular;
              font-size: 0.938rem;
              color: var(--light-blue);
              font-weight: normal;
              line-height: 18px;
              margin-bottom: 5px;
              @include text-ellipsis($lines: 2);
            }
            figure {
              width: 69px;
              height: 52px;
              @include border-radius(8px);
              overflow: hidden;
            }
            span {
              font-family: $league-spartan-light;
              font-size: 1rem;
              color: var(--bg-light-grey);
              display: block;
              &:not(:last-child) {
                margin-bottom: 5px;
              }
            }
            button {
              font-size: 0.75rem;
              width: 67px;
              height: 22px;
              @include border-radius(8px);
              background: var(--bg-publish);
              border: 0;
              color: #fff;
              position: absolute;
              right: 10px;
              top: 0;
              bottom: 0;
              margin: auto;
              cursor: pointer;
            }
          }
        }
        &:last-child {
          @include flex(flex, column, null, null);
        }
      }
    }
  }
  

  .questionnaire-form {
      flex-grow: 1;
      .input-holder {
          margin-bottom: 20px;
      }
      label {
          font-size: 0.785rem;
          color:  var(--white); 
          margin-bottom: 10px;
      }
      input {
          &[type="text"] {
              font-family: $archivo-regular;
              font-size: 0.875rem;
              color: rgba($color: #fff, $alpha: 0.3);
              width: 100%;
              background: var(--bg-input);
              border: 1px solid var(--bg-border-input);
              padding: 11px 10px;
              @include border-radius(8px);
          }
      }
      textarea {
          font-family: $archivo-regular;
          font-size: 0.875rem;
          color: rgba($color: #fff, $alpha: 0.3);
          width: 100%;
          background: var(--bg-input);
          padding: 11px 10px;
          border: 1px solid var(--bg-border-input);
          @include border-radius(8px);
      }
  }
  .data-refreshed-holder {
    margin-top: 20px;
    position: absolute;
    bottom: 30px;
    right: 0;
    span {
      font-size: 0.875rem;
      white-space: nowrap;
      margin-right: 33px;
      color: var(--white);
      display: block;
    }
    .refresh-date {
      font-family: $archivo-medium;
      font-size: 0.875rem;
      text-align: center;
      letter-spacing: 1px;
      color: var(--white);
      max-width: 312px;
      padding: 15px 46px;
      @include border-radius(5px);
      border: 1px solid var(--bg-input-border);
      background: var(--bg-input);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    button {
        font-family: $archivo-medium;
        font-size: 0.875rem;
        color:  var(--white);
        width: 211px;
        height: 44px;
        @include border-radius(20px);
        @include gradient();
        border: none;
        cursor: pointer;
        @include flex(flex, null, center, center);
      }
      & {
        @include flex(flex, null, flex-end, null);
      }
  }


footer {
  color: var(--bg-grey);
  line-height: 1.313rem;
  span {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 1921px) {
  .dashboard-right {
    max-width: 1592px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1919px) {
  .scroll-container {
    overflow: hidden;
    overflow-x: auto;
    &.overview {
      height: 240px !important;
    }
  }
  .content-top {
    padding: 10px;
  }
}
@media screen and (max-width: 1554px) {
  .dashboard-right {
    .content-area {
      .content-left {
        .courses-wrapper {
          .course-card-holder {
            .course-card {
              width: 31.5%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1380px) {
  .dashboard-left {
    max-width: 275px;
    width: 100%;
    flex-shrink: 0;
    padding: 15px;
    ul {
      li {
        font-size: 16px;
        a {
          padding: 10px;
          figure {
            margin-right: 10px;
          }
        }
      }
    }
    .content-area {
      .course-detail {
        max-width: 282px;
        width: 100%;
        padding: 16px;
      }
      .detail-top {
        gap: 11;
      }
      h2 {
        font-size: 18px;
        width: 99%;
      }
      .icons {
        width: 40px;
        height: 40px;
      }
      .detail-bottom {
        span {
          font-size: 16px;
        }
        .rate-content {
          strong {
            font-size: 20px;
            line-height: 18px;
          }
        }
        .type {
          strong {
            font-size: 13px;
            line-height: 16px;
          }
        }
      }
      .courses-wrapper {
        .card-content {
          &:last-child {
            span {
              font-size: 14px;
            }
            h3 {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .dashboard-right {
    .title-holder {
      h1 {
        font-size: 1.375rem;
      }     
    }
    .content-area {
      span {
        font-size: 20px;
      }
      .content-right {
        max-width: 280px;
      }
    }
  }
}
@media screen and (max-width: 1300px) {
  .dashboard-container {
    height: auto;
  }
  .dashboard-right {
    .content-area {
      .content-left {
        .courses-wrapper {
          .course-top {
            flex-direction: column;
            h2 {
              font-size: 1.375rem;
              text-align: center;
            }
            ul {
              max-width: 100%;
              justify-content: center;
              margin-top: 10px;
            }
          }
          .course-card-holder {
            .course-card {
              width: 47.5%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .dashboard-right {
    .title-holder {
      flex-direction: column;
      .data-refreshed-holder {
        margin-top: 10px;
        span {
          display: none;
        }
      }
    }
    .content-area {
      .content-left {
        .courses-wrapper {
          .course-card-holder {
            justify-content: center;
            .course-card {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .dashboard-right {
    .search-and-profile {
      flex-direction: column;
      .search-holder {
        margin-bottom: 10px;
        .input-holder {
          &:first-child {
            flex: 1;
            display: flex;
            input {
              flex: 1;
              width: 100%;
            }
          }
        }
      }
    }
    .content-area {
      .content-left {
        .courses-wrapper {
          padding: 30px 20px;
          .course-top {
            ul {
              li {
                padding: 12px 20px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .dashboard-left {
    height: 100%;
    padding: 30px 10px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    transform: translateX(-100%);
    @include transition(transform, 0.3s ease-in-out);
    &.active {
      transform: translateX(0);
    }
  }
  .dashboard-right {
    .icon-mobile {
      position: absolute;
      right: 30px;
      top: 40px;
      display: block !important;
    }
    .search-holder {
      padding-right: 55px;
    }
  }
}

@media screen and (max-height: 907px) {
  .dashboard-container {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .header-small {
    margin-top: 20px;
    display: block !important;
    figure {
      max-width: 233px;
      width: 100%;
      margin: 0 auto;
    }
  }
  .dashboard-left {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    header {
      display: none;
    }
  }
  .dashboard-container {
    @include flex(flex, column, null, null);
  }
  .dashboard-right {
    .profile-area {
      width: 50px;
      height: 50px;
      .common-holder {
        width: 50px;
        height: 50px;
        figure {
          width: 21px;
          height: 21px;
        }
      }
    }
    .icon-mobile {
      position: absolute !important;
      top: 30px;
      right: 20px;
      display: block !important;
    }
    .search-holder {
      padding-right: 0;
      margin-right: 0;
    }
    .search-and-profile {
      @include flex(flex, column, null, null);
    }
    .profile-area {
      justify-content: center;
    }
    .title-holder {
      @include flex(flex, column, null, null);
    }
    .data-refreshed-holder {
      @include flex(flex, column, null, null);  
    }
    .content-area {
      @include flex(flex, column, null, null);
      .content-left {
        order: 2;
        .courses-wrapper {
          .course-card-holder {
            .course-card {
              width: 257px;
              flex: inherit;
            }
          }
        }
        .course-title {
          @include flex(flex, column, null, null);
        }
      }
      .content-right {
        order: 1;
        max-width: 100%;
        .content-box {
          .reading-list-wrapper {
            .reading-list {
              figure {
                width: 35px;
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
  }
}