@import '../../../styles/index';
.dialog-overlay {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    @include flex(flex, null, center, center);
    .dialog-wrapper {
        background: var(--bg-left-panel);
        color: var(--white);
        padding: 20px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 1001;
        border-radius: 8px;
        position: relative;
        @include border-radius(15px);
        @include box-shadow(2px, 2px, 15px, var(--bg-shadow));
        .btn-close {
            background-color: transparent;
            color: var(--white);
            border: none;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 35px;
            height: 35px;
            cursor: pointer;
            @include border-radius(100%);
          }
        
      }
    
  }


