<div class="dialog-overlay">
    <div class="dialog-wrapper video" [@dialogAnimation]>
        <div class="dialog-header">
            <h2>{{popupModelInfo.title}}</h2>
            <button class="btn-close" (click)="close()">X</button>
        </div>
        <div class="dialog-content">
            @if (popupModelInfo.isDynamicContent) {
                <ng-container *ngTemplateOutlet="templateRef"></ng-container>
            } @else {
                <iframe class="full-width" frameBorder="0" [src]="urlSafe"></iframe>
            }
        </div>
    </div>
</div>