@import '../../../styles/index';
::ng-deep mat-snack-bar-container.mat-mdc-snack-bar-container {
  padding: 0px;
  background: transparent;
  min-height: 48px;
  max-height: 48px;
  border-radius: initial;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 13px;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.toaster-wrap {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 5px;
  position: relative;
  display: flex;

  &.warning {
    background-color: #f3bb21;
  }

  &.success {
    background-color: #3bc429;
  }

  &.error {
    background-color: #f03e3e;
  }

  &.info {
    background-color: #425fd7;
  }

  .status-icon {
    color: #ffff;
    width: 22px;
  }

  .dismiss {
    cursor: pointer;
    figure {
      width: 13px;
      display: flex;
      svg {
        fill: #fff !important;
      }
    }
  }

  .display-data {
    font-family: $archivo-regular !important;
    max-width: 300px;
    line-height: 17px;
    font-size: 0.95rem;
  }

  .toast-timer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.14);
    animation-name: duration;
  }
}

.msg-img {
  display: flex;
  gap: 10px;
  figure {
    display: flex;
    align-items: center;
  }
}

@keyframes duration {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
