@import '../../../styles/index';

.common-container {
  @include flex(flex, column, null, null);
}
.content-holder {
  @include flex(flex, column, null, null);
  height: 100%;
}
.content-area {
  @include flex(flex, null, space-between, null);
  gap: 22px;
  flex-grow: 1;
  margin: 30px 0 0;
  .content-left {
    max-width: 1195px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    .scroll-container {
      max-width: 1195px;
      width: 100%;
      position: relative;
      &.overview {
        height: 220px;
      }
    }
    .content-top {
      @include flex(flex, null, space-between, null);
      position: absolute;
      left: 0;
      top: 0;
      width: 1195px;
      gap: 18px;
      .course-detail {
        max-width: 282px;
        width: 100%;
        padding: 24px;
        @include border-radius(15px);
        @include box-shadow(2px, 2px, 15px, var(--bg-shadow));
        position: relative;
        overflow: hidden;
        .detail-top {
          @include flex(flex, null, null, center);
          position: relative;
          z-index: 1;
          gap: 20px;
          .icons {
            @include flex(flex, null, center, center);
            width: 52px;
            height: 52px;
            @include border-radius(100%);
            &.mit1,
            &.mit2,
            &.mit3,
            &.mit4 {
              @include transition(all 0.3s ease-in-out);
            }
            &.mit1 {
              background: var(--bg-mit1);
            }
            &.mit2 {
              background: var(--bg-mit2);
            }
            &.mit3 {
              background: var(--bg-mit3);
            }
            &.mit4 {
              background: var(--bg-mit4);
            }
          }
          .detail-right {
            flex-shrink: 0;
          }
          h2 {
            font-family: $league-spartan-regular;
            font-size: 1.375rem;
            font-weight: normal;
            color: var(--light-blue);
            margin-bottom: 10px;
            max-width: 196px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          span {
            font-family: $league-spartan-light;
            font-size: 1rem;
            color: var(--bg-light-grey);
          }
        }
        .detail-bottom {
          @include flex(flex, null, null, null);
          margin-top: 30px;
          position: relative;
          z-index: 1;
          span {
            font-family: $league-spartan-light;
            font-size: 1rem;
            color: var(--bg-light-grey);
            margin-bottom: 10px;
            display: block;
          }
          .rate {
            flex: 1;
            .rate-holder {
              @include flex(flex, null, null, null);
              gap: 10px;
              .rate-icon,
              .rate-content {
                figure {
                  width: 18px;
                }
                strong,
                small {
                  font-family: $league-spartan-light;
                  color: var(--white);
                  font-weight: normal;
                  display: block;
                }
                strong {
                  font-family: $league-spartan-regular;
                  font-size: 1.563rem;
                  line-height: 1.313rem;
                }
                small {
                  font-family: $league-spartan-light;
                  font-size: 0.75rem;
                  margin-top: 10px;
                }
              }
            }
          }
          .type {
            flex: 1;
            strong {
              font-family: $league-spartan-regular;
              font-size: 1rem;
              font-weight: normal;
              color: var(--white);
              line-height: 1.5rem;
            }
          }
        }
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          @include gradient-course();
          @include border-radius(15px);
          @include transition(all 0.3s ease-in-out);
          opacity: 0;
          z-index: 0;
        }
        &::after {
          content: '';
          background: #fb6959b5;
          width: 185px;
          height: 185px;
          @include border-radius(100%);
          position: absolute;
          bottom: -90px;
          right: -15px;
          @include transition(all 0.35s ease-in-out);
          opacity: 0;
        }
        &:hover {
          &::before {
            opacity: 1;
          }
          &::after {
            bottom: -75px;
            opacity: 1;
          }
          .icons {
            &.mit1,
            &.mit2,
            &.mit3,
            &.mit4 {
              background: var(--white);
            }
          }
        }
      }
    }
    .courses-wrapper {
      padding: 30px;
      @include border-radius(15px);
      @include box-shadow(2px, 2px, 15px, var(--bg-shadow));
      flex-grow: 1;
      margin: 20px 0 0;
      .courses {
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
        position: relative;
      }
      .course-top {
        @include flex(flex, null, space-between, null);
        margin-bottom: 20px;
        h2 {
          font-family: $poppins-bold;
          font-size: 1.875rem;
          font-weight: normal;
          color: var(--light-blue);
          letter-spacing: 1.5px;
        }
        a {
          font-size: 1.25rem;
          color: var(--bg-text-orange);
          height: 26px;
          position: relative;
          &::before {
            content: '';
            width: 0%;
            height: 1px;
            background: var(--bg-text-orange);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            @include transition(all 0.35s ease-in-out);
          }
          &:hover {
            color: var(--white);
            &::before {
              width: 100%;
            }
          }
        }
        .content-top-nav {
         max-width: 366px;
         width: 100%;
         height: 63px;
          overflow-x: auto;   
          position: relative;     
          overflow:hidden; 
          overflow-x: auto;
        }
        ul { 
          background: var(--bg-tab-nav);         
          list-style: none;
          margin: 0;
          padding: 5px;          
          white-space: nowrap;
          position: absolute;
          top: 0;
          @include flex(flex, null, null, center);
          @include border-radius(15px);
          li {
            font-family: $archivo-light;
            font-size: 0.875rem;
            font-weight: normal;
            @include border-radius(15px);
            color: var(--white);
            padding: 15px 24px;
            cursor: pointer;
            @include transition(all 0.3s ease-in-out);
            &.active {
              background: var(--bg-tab-active);
            }
          }
        }
      }
      .course-card-holder {
        width: 100%;
        @include flex(flex, null, null, null);
        flex-flow: column wrap;
        flex-direction: row;
        gap: 15px;
        position: absolute;
        top: 0;
        left: 0;
        .course-card {
          background: var(--bg-left-panel);
          max-width: 268px;
          width: 23.5%;
          @include border-radius(10px);
          border: 1px solid var(--bg-card-border);
          @include flex(flex, column, null, null);
          overflow: hidden;
          .card-content {  
            figure {
              min-height: 142px;
              max-height: 142px;                
              overflow: hidden;
              img {
                height: 100%;
                object-fit: cover;
              }
            }
            &:first-child {
              background: var(--bg-light-grey);                
              padding: 25px 25px 0;
              overflow: hidden;
              figure {
                @include flex(flex, column, flex-end, null);
              }
            }
            &:last-child {
              position: relative;
              figure {
                margin-top: 20px;
              }
              padding: 20px;
              span {
                font-family: $league-spartan-light;
                font-size: 0.75rem;
                color: var(--bg-light-grey);
              }
              h3 {
                font-family: $league-spartan-regular;
                font-size: 1.125rem;
                color: var(--light-blue);
                line-height: 1.25rem;
                font-weight: normal;
                min-height: 45px;
                max-height: 45px;
                margin: 10px 0 0;
                @include text-ellipsis($lines: 1);
              }
              .loader-holder {
                background: var(--white);
                width: 100%;
                height: 10px;                  
                margin-top: 10px;
                max-width: 223px;
                width: 100%;
                position: relative;
                @include border-radius(10px);
                span {
                  @include gradient();
                  @include border-radius(10px);
                  height: 100%;
                  position: absolute;
                  top: 0;
                  left: 0;
                }                 
              }
              .lesson-holder {
                width: 100%;
                height: 10px;
                @include flex(flex, null, space-between,center);
                position: relative;
              }
            }
          }
        }
      }
    }
  }
  .content-right {
    max-width: 320px;
    width: 100%;
    flex-shrink: 0;
    @include flex(flex, column, null, null);
    gap: 25px;
    .content-box {
      padding: 20px;
      @include box-shadow(2px, 2px, 15px, var(--bg-shadow));
      @include border-radius(15px);
      flex: 1;
      > figure {
        background: var(--bg-img);
        width: 110px;
        height: 110px;
        @include border-radius(100%);
        margin: 0 auto;
        position: relative;
        &::before {
          content: '';
          background: var(--bg-notification-green);
          width: 35px;
          height: 35px;
          position: absolute;
          bottom: 1px;
          right: -4px;
          @include border-radius(100%);
        }
        img {
          border-radius: 100%;
        }
      }
      > span {
        font-family: $archivo-bold;
        font-size: 1.5rem;
        color: var(--light-blue);
        text-align: center;
        margin: 20px 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
      }
      strong {
        font-size: 0.813rem;
        font-family: $archivo-semi-bold;
        background: var(--bg-notification-red);
        padding: 5px 10px;
        margin: 10px auto 0;
        @include border-radius(5px);
        display: table;
        margin-bottom: 10px;
      }
      .contact-area {
        list-style: none;
        @include common-margin;
        li {
          text-align: center;
          margin-bottom: 5px;
          display: block;
          a {
            font-family: $archivo-regular;
            font-size: 0.875rem;
            color: var(--bg-blue);
            position: relative;
            @include transition(all 0.3s ease-in-out);
            &:hover {
              color: var(--white);
            }
            &::before {
              content: '';
              position: absolute;
              left: -24px;
              top: 2px;
            }
          }
          a[href^='mailto'] {
            &::before {
              width: 16px;
              height: 15px;
              background: url(../../../assets/images/icon-mail.svg) no-repeat center;
            }
          }
          a[href^='tel'] {
            &::before {
              width: 18px;
              height: 18px;
              background: url(../../../assets/images/icon-contact.svg) no-repeat center;
            }
          }
        }
      }
      .status-wrapper {
        @include flex(flex, row, space-between, null);
        margin-top: 20px;
        .status-holder {
          @include flex(flex, column, null, center);
          .status {
            font-family: $poppins-bold;
            font-size: 1.5rem;
            width: 55px;
            height: 55px;
            color: var(--white);
            margin-bottom: 5px;
            @include flex(flex, column, center, center);
            @include border-radius(15px);
            &.green {
              background: var(--bg-green);
            }
            &.yellow {
              background: var(--bg-yellow);
            }
          }
          span {
            font-family: $poppins-regular;
            font-size: 0.875rem;
            color: var(--white);
          }
        }
      }
      h3 {
        font-family: $poppins-medium;
        font-size: 1.25rem;
        font-weight: normal;
        color: var(--light-blue);
        margin-bottom: 10px;
      }
      .reading-list-wrapper {
        height: 100%;
        position: relative;
        overflow-y: auto;
        .reading-list-content {
          height: 100%;
          padding-right: 10px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
        .reading-list {
          background: var(--bg-left-panel);
          border: 1px solid var(--bg-card-border);
          @include border-radius(10px);
          @include flex(flex, row, null, null);
          padding: 10px;
          gap: 15px;
          &:not(:last-child) {
            margin-bottom: 10px;
          }
          h4 {
            font-family: $poppins-regular;
            font-size: 0.938rem;
            color: var(--light-blue);
            font-weight: normal;
            line-height: 18px;
            margin-bottom: 5px;
            @include text-ellipsis($lines: 2);
          }
          figure {
            width: 130px;
            overflow: hidden;
            img {
              width: 130px;
              object-fit: cover;
            }
          }
          span {
            font-family: $league-spartan-light;
            font-size: 0.75rem;
            color: var(--bg-light-grey);
            display: block;
            &:not(:last-child) {
              margin-bottom: 5px;
            }
          }
        }
      }
      &:last-child {
        @include flex(flex, column, null, null);
      }
    }
  }
}

@media screen and (max-width: 1919px) {
  .scroll-container {
    overflow: hidden;
    overflow-x: auto;
  }
  .content-top {
    padding: 10px;
  }
}
@media screen and (max-width: 1600px) {
  .content-area {
    .content-left {
      .courses-wrapper {
        .course-card-holder {
          .course-card {
            width: 31.5%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  .content-area {
    .content-left {
      .scroll-container {
        &.overview {
          height: 200px !important;
        }
      }
      .content-top {
        .course-detail {
          padding: 15px;
          .detail-bottom {
            margin-top: 15px;
          }
        }
      }
    }
    .course-detail {
      max-width: 282px;
      width: 100%;
      padding: 16px;
    }
    .detail-top {
      gap: 11;
    }
    h2 {
      font-size: 18px;
      width: 99%;
    }
    .icons {
      width: 40px;
      height: 40px;
    }
    .detail-bottom {
      span {
        font-size: 16px;
      }
      .rate-content {
        strong {
          font-size: 20px;
          line-height: 18px;
        }
      }
      .type {
        strong {
          font-size: 13px;
          line-height: 16px;
        }
      }
    }
    .courses-wrapper {
      .course-card-holder {
        .course-card {
          max-width: 100%;
          width: 47.5%;
        }
      }
    }
  }
  .content-area {
    span {
      font-size: 20px;
    }
    .content-right {
      max-width: 280px;
    }
  }
}
@media screen and (max-width: 1300px) {
  .content-area {
    .content-left {
      .courses-wrapper {
        .content-top-nav {
          margin: 10px auto;
        }
        .course-top {
          flex-direction: column;
          h2 {
            font-size: 1.375rem;
            text-align: center;
          }
        }
        .course-card-holder {
          .course-card {
            width: 47.5%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .content-area {
    .content-left {      
      .courses-wrapper {
        .course-card-holder {
          justify-content: center;
          .course-card {
            width: 100%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .content-area {
   @include flex(flex, column, null, null);
   .content-left {
     .courses-wrapper {
      .course-top {
        ul {
          li {
            @include border-radius(7px);
            padding: 13px 17px;
          }
        }
        .content-top-nav { 
          max-width: 310px;
        }
      }
       .scroll-container {
         height: 500px;      
       }
       .course-card-holder {
         position: static;
         .course-card {
           width: 32%; 
           .card-content {
             &:last-child {
               .loader-holder {
                 max-width: 100%;
               }
             }
           }      
         }
       }
     }
   }
   .content-right {
     @include flex(flex,row, null, null);
     max-width: 100%;
     .content-box {
       .reading-list-wrapper {
         height: 500px;
       }
     }
   }
  }
 }
 
 @media screen and (max-width: 880px) {
   .content-area {
     margin-top: 0;
     @include flex(flex, column, null, null);
     .content-left {      
       .courses-wrapper {
         .scroll-container {
           height: 500px;
         }
         .course-card-holder {
           position: static;
           .course-card {
            width: 46%;
            max-width: 100%;
             .card-content {
               &:last-child {
                 .loader-holder {
                   max-width: 100%;
                 }
               }
             }      
           }
         }
       }
     }
     .content-area {
      .content-right {
        .content-box {
          .reading-list-wrapper {
            .reading-list {
              figure {
                width: 80px;
                overflow: hidden;
                img {
                  width: 100%
                }
              }
            }
       
          }
      
        }
      
      }
      
     }
     
    }
 }
 
 @media screen and (max-width: 640px) {
   .content-area {
     margin: 0;
     @include flex(flex, column, null, null);
     .content-left {
       .courses-wrapper {
         .course-top {
           h2 {
             font-size: 1.25rem;
             margin: 0 auto;
             display: block;
           }
         } 
         .scroll-container {
           height: 965px;
         }
         .course-card-holder {
           position: static;
           .course-card {
            max-width: 100%;
             width: 96%;
             .card-content {
               &:last-child {
                 .loader-holder {
                   max-width: 100%;
                 }
               }
             }      
           }
         }
       }
     }
     .content-right {
       @include flex(flex,column, null, null);
      }
    }
 }