<section class="dashboard-container">
    <div class="dashboard-right">
        <div class="dashboard-inner">
            <div class="common-container">
                <div class="common-wrapper">
                    <div class="scoll-wrapper">
                        <div class="scroll-container">
                            <div class="common-list-wrapper">
                                <img src="../../../assets/images/pending-approval.png" />
                                <h1 style="color: white;">{{infoMessage}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>