<section class="dashboard-container">
  <div class="dashboard-right">
    <div style="position: relative; width: 100%;height: 100%;">
    <div class="dashboard-content">
      <div class="search-and-profile">
        <div class="icon-mobile" #btnTrigger (click)="mobileMenu()">
          <div class="menu btn11" data-menu="11" [ngClass]="mobMenu ? 'open' : ''">
            <div class="icon-left"></div>
            <div class="icon-right"></div>
          </div>
        </div>
        <div class="search-holder">
          <h1>
            <figure>
              <img src="../../../assets/images/icon-wallet.svg" alt="Courses" />
            </figure>
            <span>Courses</span>
          </h1>
          <div class="input-holder">
            <input type="text" placeholder="Search for..." />
            <button></button>
          </div>
          <!-- <div class="input-holder">
            <select>
              <option>This Year</option>
            </select>
          </div> -->
        </div>
        <div class="profile-area">
          <!-- <div class="common-holder">
            <figure>
              <img src="../../../assets/images/icon-notification.svg" alt="Notification" />
            </figure>
          </div> -->
          <div class="common-holder" (click)="logOut()">
            <figure style="width: 35px; height: 35px;"><img src="../../../assets/images/icon-logout.svg" alt="USA" /></figure>
          </div>
          <div class="profile">
            <figure>
              <img [src]="profileUrl"/>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="common-container">
      <div class="content-area">
        <div class="content-left" [ngClass]="{'common-slider':showSliderView}">
          <app-common-slider [ngClass]="{'active':showSliderView}"
          (removeClass)="sliderActiveRemove()">></app-common-slider>
          <div class="courses-wrapper">
            <div class="course-top">
              <h2>Courses List</h2>
              <ul>
                <li class="active">All</li>
                <li>New</li>
                <li>Pending</li>
                <li>Completed</li>
              </ul>
              <div class="data-refreshed-holder">
                <button (click)="showSliderView = !showSliderView;">
                  <img src="../../../assets/images/icon-upload.svg" alt="Upload" />
                  Upload Course
                </button>
              </div>
            </div>
            <div class="scroll-container courses">
              <div class="course-card-holder">
                <div class="course-card" *ngFor="let course of courseList$ | async" (click)="openCourseDetailsPage(course)">
                  <div class="card-content">
                    <figure><img [src]="course.courseCoverImage" alt="" /></figure>
                  </div>
                  <div class="card-content">
                    <span>A Course by {{ course["createdBy"].firstName }} {{ course["createdBy"].lastName }}</span>
                    <h3>{{ course.courseTitle }}</h3>
                    <!-- <figure><img src="../../../assets/images/img-loader.png" alt="" /></figure> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
