<div class="dashboard-inner">
  <div class="content-area">
    <div class="content-left" [ngClass]="{'common-slider':showSliderView}">
      <app-common-slider [ngClass]="{'active':showSliderView}"
        (removeClass)="sliderActiveRemove()">></app-common-slider>
      <div class="courses-wrapper">
        <div class="course-top">
          <h2>Courses List</h2>
          <ul>
            @for (filter of filterList; track $index) {
              <li [ngClass]="{ 'active': activeFilterTab === filter }" (click)="setActiveFilterTab(filter)">{{ filter }}</li>
            }
          </ul>
          @if(["admin","teacher"].includes(loginedUserPrivilege)){
          <div class="data-refreshed-holder">
            <button (click)="showSliderView = !showSliderView;">
              <img src="../../../assets/images/icon-upload.svg" alt="Upload" />
              Upload Course
            </button>
          </div>
          }
        </div>
        <div class="scroll-container">
          @if (courseList$ | async; as courseList) {
            @if (courseList.length === 0) {
              <div class="no-courses-found">
                <figure>
                  <svg width="140" height="140" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM19 19H5V5H19V19Z" fill="currentColor" opacity="0.3"/>
                    <path d="M12 7C13.1 7 14 7.9 14 9C14 10.1 13.1 11 12 11C10.9 11 10 10.1 10 9C10 7.9 10.9 7 12 7ZM12 13C13.1 13 14 13.9 14 15C14 16.1 13.1 17 12 17C10.9 17 10 16.1 10 15C10 13.9 10.9 13 12 13Z" fill="currentColor"/>
                    <path d="M7 3H5C3.9 3 3 3.9 3 5V7H5V5H7V3ZM17 3H19C20.1 3 21 3.9 21 5V7H19V5H17V3ZM7 21H5C3.9 21 3 20.1 3 19V17H5V19H7V21ZM17 21H19C20.1 21 21 20.1 21 19V17H19V19H17V21Z" fill="currentColor" opacity="0.5"/>
                  </svg>
                </figure>
                <h3>No Courses Available</h3>
                <p>We couldn't find any courses in the system. This could happen if:</p>
                <ul>
                  <li>No courses have been uploaded yet</li>
                  <li>There was an issue fetching data from the server</li>
                  <li>Your search filters are too restrictive</li>
                </ul>
                <p class="help-text">Please try refreshing the page or contact your administrator if the problem persists.</p>
              </div>
            } @else {
              @if (courseList | searchFilter: searchText : 'COURSE' : activeFilterTab; as filteredList) {
                @if (filteredList.length > 0) {
                  @for (course of filteredList; track course.id || $index) {
                    <div class="course-card" (click)="openCourseDetailsPage(course)">
                      <div class="card-content">
                        <figure><img [src]="course.courseCoverImage" alt="" /></figure>
                      </div>
                      <div class="card-content">
                        <span>A Course by {{ course["createdBy"].firstName || course["createdBy"].first_name }} {{ course["createdBy"].lastName || course["createdBy"].last_name }}</span>
                        <h3>{{ course.courseTitle }}</h3>
                        <span>@if(course.chapterDetails.length){
                          {{course.chapterCompletedCount}}/{{course.chapterDetails.length}} Lessons
                          }
                        </span>
                        <div class="loader-holder">
                          <span [ngStyle]="{width: course.completionPercent}"></span>
                        </div>
                      </div>
                    </div>
                  }
                } @else {
                  <div class="no-courses-found">
                    <figure>
                      <svg width="140" height="140" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z" fill="currentColor"/>
                        <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20Z" fill="currentColor" opacity="0.3"/>
                      </svg>
                    </figure>
                    <h3>No Matching Courses</h3>
                    <p>We couldn't find any courses matching your search criteria. Try:</p>
                    <ul>
                      <li>Adjusting your search terms</li>
                      <li>Clearing the search filter</li>
                      <li>Selecting a different category</li>
                    </ul>
                  </div>
                }
              }
            }
          } @else {
            <div class="no-courses-found">
              <figure>
                <svg width="140" height="140" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM13 17H11V15H13V17ZM13 13H11V7H13V13Z" fill="currentColor"/>
                  <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1" fill="none" opacity="0.2"/>
                </svg>
              </figure>
              <h3>Unable to Load Courses</h3>
              <p>We're having trouble fetching course data from the server. This could be due to:</p>
              <ul>
                <li>Network connectivity issues</li>
                <li>Server is temporarily unavailable</li>
                <li>Authentication session expired</li>
              </ul>
              <p class="help-text">Please check your internet connection and try refreshing the page. If the problem continues, contact support.</p>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>