@import '../../../styles/index';

.dashboard-inner {
  @include flex(flex, column, null, null);  
  flex-grow: 1;
  height: 100%;
}
  .content-area {
    @include flex(flex, null, space-between, null);
    gap: 22px;
    flex-grow: 1;
    margin: 30px 0 0;
    .content-left {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      height: 100%;
      .scroll-container {
        width: 100%;
        height: 100%;
        position: relative;
        overflow-y: auto;
        &.overview {
          height: 220px;
        }
      }
      .content-top {
        @include flex(flex, null, space-between, null);
        position: absolute;
        left: 0;
        top: 0;
        width: 1195px;
        gap: 18px;
        .course-detail {
          max-width: 282px;
          width: 100%;
          padding: 24px;
          @include border-radius(15px);
          @include box-shadow(2px, 2px, 15px, var(--bg-shadow));
          position: relative;
          overflow: hidden;
          .detail-top {
            @include flex(flex, null, null, center);
            position: relative;
            z-index: 1;
            gap: 20px;
            .icons {
              @include flex(flex, null, center, center);
              width: 52px;
              height: 52px;
              @include border-radius(100%);
              &.mit1,
              &.mit2,
              &.mit3,
              &.mit4 {
                @include transition(all 0.3s ease-in-out);
              }
              &.mit1 {
                background: var(--bg-mit1);
              }
              &.mit2 {
                background: var(--bg-mit2);
              }
              &.mit3 {
                background: var(--bg-mit3);
              }
              &.mit4 {
                background: var(--bg-mit4);
              }
            }
            .detail-right {
              flex-shrink: 0;
            }
            h2 {
              font-family: $league-spartan-regular;
              font-size: 1.375rem;
              font-weight: normal;
              color: var(--light-blue);
              margin-bottom: 10px;
              max-width: 196px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
            span {
              font-family: $league-spartan-light;
              font-size: 1rem;
              color: var(--bg-light-grey);
            }
          }
          .detail-bottom {
            @include flex(flex, null, null, null);
            margin-top: 30px;
            position: relative;
            z-index: 1;
            span {
              font-family: $league-spartan-light;
              font-size: 1rem;
              color: var(--bg-light-grey);
              margin-bottom: 10px;
              display: block;
            }
            .rate {
              flex: 1;
              .rate-holder {
                @include flex(flex, null, null, null);
                gap: 10px;
                .rate-icon,
                .rate-content {
                  figure {
                    width: 18px;
                  }
                  strong,
                  small {
                    font-family: $league-spartan-light;
                    color: var(--white);
                    font-weight: normal;
                    display: block;
                  }
                  strong {
                    font-family: $league-spartan-regular;
                    font-size: 1.563rem;
                    line-height: 1.313rem;
                  }
                  small {
                    font-family: $league-spartan-light;
                    font-size: 0.75rem;
                    margin-top: 10px;
                  }
                }
              }
            }
            .type {
              flex: 1;
              strong {
                font-family: $league-spartan-regular;
                font-size: 1rem;
                font-weight: normal;
                color: var(--white);
                line-height: 1.5rem;
              }
            }
          }
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include gradient-course();
            @include border-radius(15px);
            @include transition(all 0.3s ease-in-out);
            opacity: 0;
            z-index: 0;
          }
          &::after {
            content: '';
            background: #fb6959b5;
            width: 185px;
            height: 185px;
            @include border-radius(100%);
            position: absolute;
            bottom: -90px;
            right: -15px;
            @include transition(all 0.35s ease-in-out);
            opacity: 0;
          }
          &:hover {
            &::before {
              opacity: 1;
            }
            &::after {
              bottom: -75px;
              opacity: 1;
            }
            .icons {
              &.mit1,
              &.mit2,
              &.mit3,
              &.mit4 {
                background: var(--white);
              }
            }
          }
        }
      }
      .courses-wrapper {
        padding: 30px;
        @include border-radius(15px);
        @include box-shadow(2px, 2px, 15px, var(--bg-shadow));
        @include flex(flex, column, null, null);
        flex-grow: 1;
        .courses {
          overflow: hidden;
          overflow-y: auto;
        }
        .course-top {
          @include flex(flex, null, space-between, null);
          margin-bottom: 20px;
          h2 {
            font-family: $poppins-bold;
            font-size: 1.875rem;
            font-weight: normal;
            color: var(--white);
            letter-spacing: 1.5px;
          }
          a {
            font-size: 1.25rem;
            color: var(--bg-text-orange);
            height: 26px;
            position: relative;
            &::before {
              content: '';
              width: 0%;
              height: 1px;
              background: var(--bg-text-orange);
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              @include transition(all 0.35s ease-in-out);
            }
            &:hover {
              color: var(--white);
              &::before {
                width: 100%;
              }
            }
          }
          ul {
            max-width: fit-content;
            background: var(--bg-tab-nav);
            list-style: none;
            margin: 0;
            padding: 5px;
            @include border-radius(15px);
            @include flex(flex, null, null, center);
            li {
              font-family: $archivo-light;
              font-size: 0.875rem;
              font-weight: normal;
              @include border-radius(15px);
              color: var(--white);
              padding: 15px 24px;
              cursor: pointer;
              @include transition(all 0.3s ease-in-out);
              &.active {
                background: var(--bg-tab-active);
              }
            }
          }
        }
.course-card-holder {
  width: 100%;
  height: 300px;
  @include flex(flex, null, null, null);
  flex-flow: column wrap;
  flex-direction: row;
  gap: 15px;
  &.courses {
    height: 340px !important;
  }
  .course-card {
    background: var(--bg-left-panel);
    max-width: 268px;
    width: 23.5%;
    @include border-radius(10px);
    border: 1px solid var(--bg-card-border);
    @include flex(flex, column, null, null);
    overflow: hidden;
    .card-content {             
      flex: 1;
      min-height: 149px;
      max-height: 149px;
      &:first-child {
        background: var(--bg-light-grey);                
        padding: 25px 25px 0;
        overflow: hidden;
        figure {
          @include flex(flex, column, flex-end, null);
        }
      }
      &:last-child {
        position: relative;
        figure {
          margin-top: 20px;
        }
        padding: 20px 20px 40px;
        span {
          font-family: $league-spartan-light;
          font-size: 0.75rem;
          color: var(--bg-light-grey);
        }
        h3 {
          font-family: $league-spartan-regular;
          font-size: 1.125rem;
          color: var(--light-blue);
          line-height: 1.25rem;
          font-weight: normal;
          min-height: 45px;
          max-height: 45px;
          margin: 10px 0 0;
        }
        .loader-holder {
          background: var(--white);
          width: 100%;
          height: 100%;
          @include flex(flex, null, null, null);
          flex-flow: column wrap;
          flex-direction: row;
          gap: 15px;
          position: absolute;
          top: 0;
          left: 0;
          &.courses {
            height: 340px !important;
          }
          .course-card {
            background: var(--bg-left-panel);
            max-width: 280px;
            width: 19%;
            @include border-radius(10px);
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
}
      }
    }
    .content-right {
      max-width: 320px;
      width: 100%;
      flex-shrink: 0;
      @include flex(flex, column, null, null);
      gap: 25px;
      .content-box {
        @include box-shadow(2px, 2px, 15px, var(--bg-shadow));
        @include border-radius(15px);
        flex: 1;
        > figure {
          background: var(--bg-img);
          width: 110px;
          height: 110px;
          @include border-radius(100%);
          margin: 0 auto;
          position: relative;
          &::before {
            content: '';
            background: var(--bg-notification-green);
            width: 35px;
            height: 35px;
            position: absolute;
            bottom: 1px;
            right: -4px;
            @include border-radius(100%);
          }
        }
        > span {
          font-family: $archivo-bold;
          font-size: 1.5rem;
          color: var(--light-blue);
          text-align: center;
          margin: 20px 0;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          display: block;
        }
        strong {
          font-size: 0.813rem;
          font-family: $archivo-semi-bold;
          background: var(--bg-notification-red);
          padding: 5px 10px;
          margin: 10px auto 0;
          @include border-radius(5px);
          display: table;
          margin-bottom: 10px;
        }
        .contact-area {
          list-style: none;
          @include common-margin;
          li {
            text-align: center;
            margin-bottom: 5px;
            display: block;
            a {
              font-family: $archivo-regular;
              font-size: 0.875rem;
              color: var(--bg-blue);
              position: relative;
              @include transition(all 0.3s ease-in-out);
              &:hover {
                color: var(--white);
              }
              &::before {
                content: '';
                position: absolute;
                left: -24px;
                top: 2px;
              }
            }
            a[href^='mailto'] {
              &::before {
                width: 16px;
                height: 15px;
                background: url(../../../assets/images/icon-mail.svg) no-repeat center;
              }
            }
            a[href^='tel'] {
              &::before {
                width: 18px;
                height: 18px;
                background: url(../../../assets/images/icon-contact.svg) no-repeat center;
              }
            }
          }
        }
        .status-wrapper {
          @include flex(flex, row, space-between, null);
          margin-top: 20px;
          .status-holder {
            @include flex(flex, column, null, center);
            .status {
              font-family: $poppins-bold;
              font-size: 1.5rem;
              width: 55px;
              height: 55px;
              color: var(--white);
              margin-bottom: 5px;
              @include flex(flex, column, center, center);
              @include border-radius(15px);
              &.green {
                background: var(--bg-green);
              }
              &.yellow {
                background: var(--bg-yellow);
              }
            }
            span {
              font-family: $poppins-regular;
              font-size: 0.875rem;
              color: var(--white);
            }
          }
        }
        h3 {
          font-family: $poppins-medium;
          font-size: 1.25rem;
          font-weight: normal;
          color: var(--light-blue);
          margin-bottom: 10px;
        }
        .reading-list-wrapper {
          height: 100%;
          .reading-list-content {
            height: 80vh;
            padding-right: 10px;
            overflow-y: auto;
          }
          .reading-list {
            @include flex(flex, row, null, null);
            padding: 10px 76px 10px 10px;
            gap: 15px;
            position: relative;
            &:not(:last-child) {
              border-bottom: 1px solid var(--color-blue);
              margin-bottom: 10px;
            }
            h4 {
              font-family: $poppins-regular;
              font-size: 0.938rem;
              color: var(--light-blue);
              font-weight: normal;
              line-height: 18px;
              margin-bottom: 5px;
              @include text-ellipsis($lines: 2);
            }
            figure {
              width: 50px;
              height: 50px;
              @include border-radius(100%);
              overflow: hidden;
            }
            span {
              font-family: $league-spartan-light;
              font-size: 1rem;
              color: var(--bg-light-grey);
              display: block;
              &:not(:last-child) {
                margin-bottom: 5px;
              }
            }
            button {
              width: 67px;
              height: 22px;
              @include border-radius(18px);
              @include gradient();
              border: 0;
              color: #fff;
              position: absolute;
              right: 0;
              top: 0;
              bottom: 0;
              margin: auto;
              cursor: pointer;
            }
          }
        }
        &:last-child {
          @include flex(flex, column, null, null);
        }
      }
    }
  }


@media screen and (min-width: 1921px) {
  .dashboard-right {
    max-width: 1592px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1919px) {
  .scroll-container {
    overflow: hidden;
    overflow-x: auto;
    &.overview {
      height: 240px !important;
    }
  }
  .content-top {
    padding: 10px;
  }
}
@media screen and (max-width: 1554px) {
  .dashboard-right {
    .content-area {
      .content-left {
        .courses-wrapper {
          .course-card-holder {
            .course-card {
              width: 31.5%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1380px) {
  .dashboard-left {
    max-width: 275px;
    width: 100%;
    flex-shrink: 0;
    padding: 15px;
    ul {
      li {
        font-size: 16px;
        a {
          padding: 10px;
          figure {
            margin-right: 10px;
          }
        }
      }
    }
    .content-area {
      .course-detail {
        max-width: 282px;
        width: 100%;
        padding: 16px;
      }
      .detail-top {
        gap: 11;
      }
      h2 {
        font-size: 18px;
        width: 99%;
      }
      .icons {
        width: 40px;
        height: 40px;
      }
      .detail-bottom {
        span {
          font-size: 16px;
        }
        .rate-content {
          strong {
            font-size: 20px;
            line-height: 18px;
          }
        }
        .type {
          strong {
            font-size: 13px;
            line-height: 16px;
          }
        }
      }
      .courses-wrapper {
        .card-content {
          &:last-child {
            span {
              font-size: 14px;
            }
            h3 {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .dashboard-right {
    .title-holder {
      h1 {
        font-size: 1.375rem;
        color: var(--light-blue);
      }
      .data-refreshed-holder {
        .refresh-date {
          max-width: 275px;
          padding: 15px 20px;
        }
      }
    }
    .content-area {
      span {
        font-size: 20px;
      }
      .content-right {
        max-width: 280px;
      }
    }
  }
}
@media screen and (max-width: 1300px) {
  .dashboard-container {
    height: auto;
  }
  .dashboard-right {
    .content-area {
      .content-left {
        .courses-wrapper {
          .course-top {
            flex-direction: column;
            h2 {
              font-size: 1.375rem;
              text-align: center;
            }
            ul {
              max-width: 100%;
              justify-content: center;
              margin-top: 10px;
            }
          }
          .course-card-holder {
            .course-card {
              width: 47.5%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .dashboard-right {
    .title-holder {
      flex-direction: column;
      .data-refreshed-holder {
        margin-top: 10px;
        span {
          display: none;
        }
      }
    }
    .content-area {
      .content-left {
        .courses-wrapper {
          .course-card-holder {
            justify-content: center;
            .course-card {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .dashboard-right {
    .search-and-profile {
      flex-direction: column;
      .search-holder {
        margin-bottom: 10px;
        .input-holder {
          &:first-child {
            flex: 1;
            display: flex;
            input {
              flex: 1;
              width: 100%;
            }
          }
        }
      }
    }
    .content-area {
      .content-left {
        .courses-wrapper {
          padding: 30px 20px;
          .course-top {
            ul {
              li {
                padding: 12px 20px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .dashboard-left {
    height: 100%;
    padding: 30px 10px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    transform: translateX(-100%);
    @include transition(transform, 0.3s ease-in-out);
    &.active {
      transform: translateX(0);
    }
  }
  .dashboard-right {
    .icon-mobile {
      position: absolute;
      right: 30px;
      top: 40px;
      display: block !important;
    }
    .search-holder {
      padding-right: 55px;
    }
  }
}

@media screen and (max-height: 907px) {
  .dashboard-container {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .header-small {
    margin-top: 20px;
    display: block !important;
    figure {
      max-width: 233px;
      width: 100%;
      margin: 0 auto;
    }
  }
  .dashboard-left {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    header {
      display: none;
    }
  }
  .dashboard-container {
    @include flex(flex, column, null, null);
  }
  .dashboard-right {
    .profile-area {
      width: 50px;
      height: 50px;
      .common-holder {
        width: 50px;
        height: 50px;
        figure {
          width: 21px;
          height: 21px;
        }
      }
    }
    .icon-mobile {
      position: absolute !important;
      top: 30px;
      right: 20px;
      display: block !important;
    }
    .search-holder {
      padding-right: 0;
      margin-right: 0;
    }
    .search-and-profile {
      @include flex(flex, column, null, null);
    }
    .profile-area {
      justify-content: center;
    }
    .title-holder {
      @include flex(flex, column, null, null);
    }
    .data-refreshed-holder {
      @include flex(flex, column, null, null);
    }
    .content-area {
      @include flex(flex, column, null, null);
      .content-left {
        order: 2;
        .courses-wrapper {
          .course-card-holder {
            .course-card {
              width: 257px;
              flex: inherit;
            }
          }
        }
        .course-title {
          @include flex(flex, column, null, null);
        }
      }
      .content-right {
        order: 1;
        max-width: 100%;
        .content-box {
          .reading-list-wrapper {
            .reading-list {
              figure {
                width: 35px;
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
  }
}

.data-refreshed-holder {
  span {
    font-size: 0.875rem;
    white-space: nowrap;
    margin-right: 33px;
    color: var(--white);
    display: block;
  }
  .refresh-date {
    font-family: $archivo-medium;
    font-size: 0.875rem;
    text-align: center;
    letter-spacing: 1px;
    color: var(--white);
    max-width: 312px;
    padding: 15px 46px;
    @include border-radius(5px);
    border: 1px solid var(--bg-input-border);
    background: var(--bg-input);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  button {
    font-family: $archivo-medium;
    font-size: 0.875rem;
    color: var(--white);
    width: 211px;
    height: 44px;
    @include border-radius(20px);
    @include gradient();
    border: none;
    cursor: pointer;
    @include flex(flex, null, center, center);
  }
  & {
    @include flex(flex, null, center, center);
  }
  img {
    margin-right: 10px;
  }
}