@import '../../../styles/account-profile';

:host {
  display: flex;
  flex: 1;
  min-height: 0;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  :host {
    display: block;
    flex: none;
    height: auto;
    min-height: min-content;
    overflow: visible;
  }
}
