@import '../../../styles/index';

app-particle {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.registration-wrapper {
  padding: 30px;
  border-radius: 15px;
  box-shadow: 2px 2px 15px var(--bg-shadow);
}

.edit {
  padding:0;
  box-shadow: none;
}

.registration-holder {
  max-width: 1075px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  @include border-radius(60px);
  margin: 0 auto;
  position: relative;
  z-index: 1;
  > figure {
    max-width: 185px;
    margin: 0 auto;
  }
  h1 {
    font-size: 2.375rem;
    color: var(--light-blue);
    text-align: center;
    letter-spacing: 4px;
    margin: 25px 0 0;
  }
  p {
    font-size: 0.9375rem;
    text-align: center;
    color: var(--white);
    margin: 18px 0 0;
  }
  a {
    font-size: 0.875rem;
    color: var(--bg-blue);
    @include transition(color 0.3s ease-in-out);
    &:hover {
      color: var(--white);
    }
  }
  .form-wrapper {
    .image-holder {
      width: 150px;
      height: 150px;
      @include border-radius(100%);
      margin: 25px auto;
      overflow: hidden;
      border: 10px solid rgba(215,46,132, 0.32);
    }
    .input-row {
      @include flex(flex,null,null,null);
      gap: 20px;
      margin-bottom: 15px;
    }
    .input-holder {
      position: relative;
      flex: 1;
      label {
        font-size: 0.75rem;
        color: var(--bg-label);
        margin-bottom: 5px;
      }
      input {
        &[type='text'],
        &[type='password'],
        &[type='file'] {
          font-weight: normal;
          font-size: 1rem;
          color: var(--bg-label);
          border: 1px solid var(--bg-input-border);
          background: var(--bg-input);
          width: 100%;
          @include border-radius(5px);
          padding: 12px 15px;
          @include transition(all 0.2s ease-in-out);
          &:focus {
            border-color: var(--bg-mit1);
          }
        }
        &[type='file'] {
          padding: 5px !important;
        }
      }
    }
    a {
      display: table;
      margin: 0 auto;
      cursor: pointer;
    }

    .btn-login {
      font-family: $archivo-regular;
      font-size: 1rem;
      color: var(--white);
      margin: 15px 0 25px;
      @include button();
      @include box-shadow(2px, 2px, 8px, var(--bg-magento));
      width: 100%;
      @include border-radius(50px);
      @include gradient();
      border: 1px solid var(--bg-orange);
    }
  }
  .login-bottom {
    max-width: 466px;
    width: 100%;
    margin: 0 auto;
    .divider {
      height: 23px;
      position: relative;
      @include flex(flex, null, center, center);
      &::before {
        content: '';
        background: var(--bg-divider);
        width: 100%;
        height: 1px;
      }
      &::after {
        content: attr(data-attr);
        font-size: 0.9375rem;
        text-align: center;
        color: var(--white);
        background: var(--bg-login);
        width: 35px;
        height: 100%;
        position: absolute;
      }
    }
    .btn-holder {
      @include flex(flex, null, center, null);
      gap: 27px;
      margin: 40px 0 35px;
      button {
        font-family: $archivo-regular;
        font-size: 0.875rem;
        flex: 1;
        color: var(--bg-blue);
        @include button();
        @include border-radius(50px);
        border: 1px solid var(--bg-blue);
        @include flex(flex, row, center, center);
        gap: 15px;
        background: var(--bg-dark-blue);
        cursor: pointer;
        @include transition(all 0.3s ease-in-out);
        &:first-child {
          background: transparent !important;
        }
        &:hover {
          &:first-child {
            background: var(--bg-dark-blue) !important;
          }
          &:last-child {
            background: transparent;
          }
        }
      }
    }
    a {
      display: inline-flex;
      margin-left: 10px;
      cursor: pointer;
    }
    p {
      margin-top: 0;
    }
  }
  .checkbox-holder  {
    display: flex;
    margin-top: 20px;
      label {
        font-size: 0.785rem;
        color:  var(--white);
        height: 25px;
        display: block;
        position: relative;
        cursor: pointer;
        margin-right: 25px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        @include border-radius(5px);
        &:not(:last-child){
          margin-bottom: 15px;
        }
        strong {
          font-weight: normal;
          position: relative;
          top: 5px;
          margin-left: 40px;
          display: block;
        }
      }
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      .checkmark {
        border: 1px solid var(--white);
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        @include border-radius(15px);
      }
      input:checked ~ .checkmark {
          background-color: #fd7859;
          border: none;
          &:after {
              display: block;
          }
      }       
      .checkmark:after {
          content: "";
          position: absolute;
          display: none;
          left: 8px;
          top: 3px;
          width: 5px;
          height: 11px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }         
    }
}

input[type='file']::file-selector-button {
  color: var(--white);
  border-radius: 4px;
  border: 0;
  padding: 0 15px;
  height: 40px;
  cursor: pointer;
  background-color: var(--bg-mit4);
  &:focus {
    outline: none;
  }
}

@media only screen and (max-width: 1400px) {
  .login-wrapper {
    max-width: 595px;
    padding: 40px 20px;
    border-radius: 40px;
    > figure {
      max-width: 185px;
      margin: 0 auto;
    }
    h1 {
      font-size: 2.375rem;
      letter-spacing: 2px;
      margin: 30px 0 0;
    }
    p {
      margin: 20px 0;
    }
    .form-wrapper {
      margin: 5px auto;
      .btn-login {
        padding: 10px 15px;
      }
      .input-holder {
        input {
          &[type='text'],
          &[type='password'] {
            padding: 8px 15px;
          }
        }
        margin-bottom: 15px;
      }
      .btn-login {
        margin: 25px 0 30px;
      }
      a {
        margin-top: 20px;
      }
    }
    .login-bottom {
      .btn-holder {
        margin: 25px 0;
        button {
          padding: 10px 15px;
        }
      }
      p {
        margin: 30px 0 0;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .login-container {
    padding: 20px;
  }

  .login-wrapper {
    padding: 25px;
    @include border-radius(20px);
    h1 {
      font-size: 1.563rem;
      margin: 15px 0 0;
    }
    p {
      font-size: 0.875rem;
    }
    h1,
    p {
      margin: 15px 0 0;
    }
    .form-wrapper {
      margin-top: 10px;
      .btn-login {
        margin: 15px 0;
      }
    }
    .login-bottom {
      p {
        display: block !important;
        margin: 15px 0 0 !important;
      }
      .btn-holder {
        margin: 10px 0 25px;
      }
    }
  }
}

.align-items-start{
  align-items: start !important;
}
.padding-top-0{
  padding-top: 0 !important;
}