<section class="registration-wrapper" [ngClass]="{'edit':!isEditMode}">
  @if(!isEditMode){
  <div id="particles-js"></div>
  }
  <div class="registration-holder">
    @if(!isEditMode){
    <figure>
      <img src="../../../../assets/images/logo-mejestic-hourse-landing.svg" alt="Mejastic Hourse" />
    </figure>
    <h1>Create An Account</h1>
    <p>LET'S GET YOU STARTED</p>
    }
    <div class="form-wrapper">
      <div class="image-holder">
        <figure><img [src]="profileUrl" alt="Mejastic Hourse" /></figure>
      </div>
      <form [formGroup]="createAccountForm" (ngSubmit)="onSubmit()">
        <div class="input-row">
          <div class="input-holder">
            <label for="role">Register As</label>
            <div class="checkbox-holder">
              @if(isAdminLogin){
              <label>
                <strong>Admin</strong>
                <input type="radio" name="role" formControlName="role" value="admin">
                <span class="checkmark"></span>
              </label>
              }@else {
              <label>
                <strong>Student</strong>
                <input type="radio" name="role" formControlName="role" value="student">
                <span class="checkmark"></span>
              </label>
              <label>
                <strong>Teacher</strong>
                <input type="radio" name="role" formControlName="role" value="teacher">
                <span class="checkmark"></span>
              </label>
              }
            </div>
          </div>
          
          <div class="input-holder">
            <label for="profileimage">Upload Image</label>
            <input type="file" name="profileimage" placeholder="Upload Image" formControlName="profileImage"
              (change)="onFileSelected($event)" />
            @if (isFieldInvalid(createAccountForm, 'profileImage')) {
            <span>Image is required.</span>
            }
          </div>
        </div>
        <div class="input-row">
          <div class="input-holder">
            <label for="firstname">Your First Name</label>
            <input type="text" name="firstname" placeholder="Enter First Name" formControlName="firstName" />
            @if (isFieldInvalid(createAccountForm, 'firstName')) {
            <span> First Name is required.</span>
            }
          </div>
          <div class="input-holder">
            <label for="lastname">Your Last Name</label>
            <input type="text" name="lastname" placeholder="Enter Last Name" formControlName="lastName" />
            @if (isFieldInvalid(createAccountForm, 'lastName')) {
            <span> LastName is required.</span>
            }
          </div>
        </div>
        <div class="input-row">
          
          <div class="input-holder">
            <label>Mobile</label>
            <input type="text" placeholder="Enter Mobile Number" formControlName="phone" />
            @if (isFieldInvalid(createAccountForm, 'phone')) {
            <div class="error-message">
              @if (createAccountForm.get('phone')?.errors?.['required']) {
              <span>Mobile number is required.</span>
              }
              @if (createAccountForm.get('phone')?.errors?.['pattern']) {
              <span>Please enter a valid mobile number.</span>
              }
            </div>
            }
          </div>
          <div class="input-holder">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="Enter Email Address" formControlName="email" />
            @if (isFieldInvalid(createAccountForm, 'email')) {
            <div class="error-message">
              @if (createAccountForm.get('email')?.errors?.['required']) {
              <span>Email is required.</span>
              }
              @if (createAccountForm.get('email')?.errors?.['email']) {
              <span>Please enter a valid email address.</span>
              }
            </div>
            }
          </div>
        </div>
        <div class="input-row">
          <div class="input-holder">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter Your Password (6 characters)"
              formControlName="password" />
            @if (isFieldInvalid(createAccountForm, 'password')) {
            <div class="error-message">
              @if (getPasswordError(createAccountForm, 'required')) {
              <span>Password is required.</span>
              }
            </div>
            @if (!getPasswordError(createAccountForm, 'required')) {
            <div class="suggestion-holder">
              @if (getPasswordError(createAccountForm, 'minlength')) {
              <span>Password must be at least 6 characters long.</span>
              }
              @if (getPasswordError(createAccountForm, 'uppercase')) {
              <span>Password must contain at least one uppercase letter.</span>
              }
              @if (getPasswordError(createAccountForm, 'lowercase')) {
              <span>Password must contain at least one lowercase letter.</span>
              }
              @if (getPasswordError(createAccountForm, 'number')) {
              <span>Password must contain at least one number.</span>
              }
              @if (getPasswordError(createAccountForm, 'special')) {
              <span>Password must contain at least one special character.</span>
              }
            </div>
            }
            }
          </div>
          
          <div class="input-holder">
            <label for="password">Confirm Password</label>
            <input type="password" name="password" placeholder="Enter Your Password (6 characters)"
              formControlName="confirmPassword" />
            @if (isFieldInvalid(createAccountForm, 'confirmPassword')) {
            <span>Confirm Password is required.</span>
            }
            @if (isPasswordMismatch(createAccountForm, 'password', 'confirmPassword')) {
            <span>Passwords do not match.</span>
            }
          </div>
        </div>
        
        
        
        
        <button class="btn-login" type="submit"> {{isEditMode ? 'Update Account': 'Get Started'}}</button>
      </form>
    </div>
    @if(!isEditMode){
    <div class="login-bottom">
      <!-- <div class="divider" data-attr="or"></div> -->
      <p>Do you have already an account? <a (click)="navigateLogin()">Log In</a></p>
    </div>
    }
  </div>
</section>