@import '../../../styles/index';

.login-main-container {
    overflow: hidden;
    position: relative;
    height: 100vh;
}
app-particle {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#particles-js {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.login-container {
    @include flex(flex, null, center, center);
    height: 100%;
}
.login-wrapper {
    background: var(--bg-login);
    max-width: 637px;
    width: 100%;
    padding: 40px 20px;
    @include border-radius(60px);
    position: relative;
    z-index: 1;
    > figure {
        max-width: 296px;
        margin: 0 auto;
    }
    h1 {
        font-size: 2.375rem;
        color: var(--light-blue);
        text-align: center;
        letter-spacing: 4px;
        margin: 50px 0 0;
    }
    p {
        font-size: 0.9375rem;
        text-align: center;
        color: var(--white);
        margin: 18px 0 0;
    }
    a {
        font-size: 0.875rem;
        color: var(--bg-blue);
        @include transition(color .3s ease-in-out);        
        &:hover {
            color: var(--white);
        }
    }
    .form-wrapper {
        max-width: 466px;
        width: 100%;
        margin: 25px auto 0;
    
        .input-holder {
            margin-bottom: 15px;
            label {
                font-size: 0.75rem;
                color: var(--bg-label);
                margin-bottom: 5px;
            }
            input {
               &[type="text"],&[type="password"],&[type="file"]{
                    font-weight: normal;
                    font-size: 1rem;
                    color: var(--bg-label);
                    border: 1px solid var(--bg-input-border);
                    background: var(--bg-input);
                    width: 100%;
                    @include border-radius(5px);
                    padding: 12px 15px;
                    @include transition (all 0.2s ease-in-out);
                    &:focus {
                        border-color: var(--bg-mit1);
                    }
               }
               &[type="file"] {
                padding: 5px!important;
               }
                
            }        
        }
        a {
            display: table;
            margin: 0 auto;
        }
        
        .btn-login {    
            font-family: $archivo-regular;
            font-size: 1rem;    
            color: var(--white);        
            margin: 15px 0 25px; 
            @include button();
            @include box-shadow(2px, 2px, 8px,var(--bg-magento));  
            width: 100%;
            @include border-radius(50px);
            @include gradient();
            border: 1px solid var(--bg-orange);  
        }
    }
    .login-bottom {
        max-width: 466px;
        width: 100%;
        margin: 0 auto;
        .divider {
            height: 23px;
            position: relative;
            @include flex(flex, null, center, center);
            &::before {
                content: "";
                background: var(--bg-divider);
                width: 100%;
                height: 1px;
            }
            &::after {
                content: attr(data-attr);
                font-size: 0.9375rem;
                text-align: center;
                color: var(--white);
                background: var(--bg-login);
                width: 35px;
                height: 100%;
                position: absolute;
            }
        }
        .btn-holder {
            @include flex(flex, null, center, null);
            gap: 27px;
            margin: 40px 0 35px;
            button {
                font-family: $archivo-regular;
                font-size: 0.875rem;      
                flex: 1;
                color: var(--bg-blue);
                @include button();
                @include border-radius(50px);
                border: 1px solid var(--bg-blue);
                @include flex(flex,row,center,center);
                gap: 15px;
                background: var(--bg-dark-blue);
                cursor: pointer;
                @include transition (all 0.3s ease-in-out);
                &:first-child {
                    background: transparent!important;
                }
                &:hover {
                   &:first-child {
                    background: var(--bg-dark-blue)!important;
                   } 
                   &:last-child {
                    background: transparent;
                   }
                }
            }
        }
        a {
            display: inline-flex;
            margin-left: 10px;
        }
    }
}

input[type="file"]::file-selector-button {
    color: var(--white);
    border-radius: 4px;
    border: 0;
    padding: 0 15px;
    height: 40px;
    cursor: pointer;
    background-color: var(--bg-mit4);
    &:focus {
        outline: none;
    }
  }

@media only screen and (max-width: 1400px) {
    .login-wrapper {
        max-width: 595px;
        padding: 40px 20px;
        border-radius: 40px;
        > figure {
            max-width: 185px;
            margin: 0 auto;
        }
        h1 {
            font-size: 2.375rem;
            letter-spacing: 2px;
            margin: 30px 0 0;
        }
        p {
            margin: 20px 0;
        }
        .form-wrapper {
            margin: 5px auto;
            .btn-login {
                padding: 10px 15px;
            }
            .input-holder {
                input {
                    &[type="text"],&[type="password"]{ 
                        padding: 8px 15px;
                    }
                }
                margin-bottom: 15px;
            }
            .btn-login {
                margin: 25px 0 30px;
            }
            a {
                margin-top: 20px;
            }
        }
        .login-bottom {
            .btn-holder {
                margin: 25px 0;          
                button {
                    padding: 10px 15px;
                }
            }
            p {
                margin: 30px 0 0;
            }
        }
    }    
}

@media only screen and (max-width: 768px) {
    .login-container {
        padding: 20px;
    }
    
    .login-wrapper {
        padding: 25px;
        @include border-radius(20px);
        h1 {
            font-size: 1.563rem;  
            margin: 15px 0 0;          
        }
        p {
            font-size: 0.875rem;
        }
        h1 , p {
            margin: 15px 0 0;
        }        
        .form-wrapper {
            margin-top: 10px;
            .btn-login {
                margin: 15px 0;
            }
        } 
        .login-bottom {
            p {
                display: block!important;
                margin: 15px 0 0!important;
            }
            .btn-holder {
                margin: 10px 0 25px;
            }
        }       
    }
}
