@import '../../../styles/index';

.dashboard-container {
  height: 100%;
  @include flex(flex, null, null, null);
  .dashboard-content {
    @include flex(flex, column, null, null);
  }
  .common-container {
    @include flex(flex, column, null, null);
    height: 100%;
  }
}
.dashboard-left {
  background: var(--bg-left-panel);
  max-width: 328px;
  width: 100%;
  flex-shrink: 0;
  padding: 30px;
  @include flex(flex, column, null, null);
}

.dashboard-right {
  @include flex(flex, column, null, null);
  flex-grow: 1;
  padding: 30px 25px;
  position: relative;
  overflow: hidden;
}


@media screen and (min-width: 1921px) {
  .dashboard-right {
    max-width: 1592px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1919px) {
  .scroll-container {
    overflow: hidden;
    overflow-x: auto;
    &.overview {
      height: 240px !important;
    }
  }
  .content-top {
    padding: 10px;
  }
}
@media screen and (max-width: 1554px) {
  .dashboard-right {
    .content-area {
      .content-left {
        .courses-wrapper {
          .course-card-holder {
            .course-card {
              width: 31.5%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1380px) {
  .dashboard-left {
    max-width: 275px;
    width: 100%;
    flex-shrink: 0;
    padding: 15px;
    ul {
      li {
        font-size: 16px;
        a {
          padding: 10px;
          figure {
            margin-right: 10px;
          }
        }
      }
    }
    .content-area {
      .course-detail {
        max-width: 282px;
        width: 100%;
        padding: 16px;
      }
      .detail-top {
        gap: 11;
      }
      h2 {
        font-size: 18px;
        width: 99%;
      }
      .icons {
        width: 40px;
        height: 40px;
      }
      .detail-bottom {
        span {
          font-size: 16px;
        }
        .rate-content {
          strong {
            font-size: 20px;
            line-height: 18px;
          }
        }
        .type {
          strong {
            font-size: 13px;
            line-height: 16px;
          }
        }
      }
      .courses-wrapper {
        .card-content {
          &:last-child {
            span {
              font-size: 14px;
            }
            h3 {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .dashboard-right {
    .title-holder {
      h1 {
        font-size: 1.375rem;
      }
      .data-refreshed-holder {
        .refresh-date {
          max-width: 275px;
          padding: 15px 20px;
        }
      }
    }
    .content-area {
      span {
        font-size: 20px;
      }
      .content-right {
        max-width: 280px;
      }
    }
  }
}
@media screen and (max-width: 1300px) {
  .dashboard-right {
    .content-area {
      .content-left {
        .courses-wrapper {
          .course-top {
            flex-direction: column;
            h2 {
              font-size: 1.375rem;
              text-align: center;
            }
            ul {
              max-width: 100%;
              justify-content: center;
              margin-top: 10px;
            }
          }
          .course-card-holder {
            .course-card {
              width: 47.5%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .dashboard-right {
    .title-holder {
      flex-direction: column;
      .data-refreshed-holder {
        margin-top: 10px;
        span {
          display: none;
        }
      }
    }
    .content-area {
      .content-left {
        .courses-wrapper {
          .course-card-holder {
            justify-content: center;
            .course-card {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .dashboard-right {
    .search-and-profile {
      flex-direction: column;
      .search-holder {
        margin-bottom: 10px;
        .input-holder {
          &:first-child {
            flex: 1;
            display: flex;
            input {
              flex: 1;
              width: 100%;
            }
          }
        }
      }
    }
    .content-area {
      .content-left {
        .courses-wrapper {
          padding: 30px 20px;
          .course-top {
            ul {
              li {
                padding: 12px 20px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .dashboard-left {
    height: 100%;
    padding: 30px 10px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    transform: translateX(-100%);
    @include transition(transform, 0.3s ease-in-out);
    &.active {
      transform: translateX(0);
    }
  }
}

@media screen and (max-width: 768px) {
  .dashboard-container {
    @include flex(flex,column,null,null);
  }

  .dashboard-left {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    header {
      display: none;
    }
  }

  .dashboard-right {
    .profile-area {
      width: 50px;
      height: 50px;
      .common-holder {
        width: 50px;
        height: 50px;
        figure {
          width: 21px;
          height: 21px;
        }
      }
    }
    .icon-mobile {
      position: absolute !important;
      top: 30px;
      right: 20px;
      display: block !important;
    }
    .search-holder {
      padding-right: 0;
      margin-right: 0;
    }
    .search-and-profile {
      @include flex(flex, column, null, null);
    }
    .profile-area {
      justify-content: center;
    }
    .title-holder {
      @include flex(flex, column, null, null);
    }
    .data-refreshed-holder {
      @include flex(flex, column, null, null);
    }
    .content-area {
      @include flex(flex, column, null, null);
      .content-left {
        order: 2;
        .courses-wrapper {
          .course-card-holder {
            .course-card {
              width: 257px;
              flex: inherit;
            }
          }
        }
        .course-title {
          @include flex(flex, column, null, null);
        }
      }
      .content-right {
        order: 1;
        max-width: 100%;
        .content-box {
          .reading-list-wrapper {
            .reading-list {
              figure {
                width: 35px;
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
  }
}
