@import '../../../styles/index';

.dashboard-container {
  height: 100%;
  @include flex(flex, null, null, null);
  .dashboard-content {
    @include flex(flex, column, null, null);
  }
  .common-container {
    @include flex(flex, column, null, null);
    height: 100%;
  }
}
.dashboard-left {
  background: var(--bg-left-panel);
  max-width: 328px;
  width: 100%;
  flex-shrink: 0;
  padding: 30px;
  @include flex(flex, column, null, null);
}

.dashboard-right {
  @include flex(flex, column, null, null);
  flex-grow: 1;
  padding: 30px 25px;
  position: relative;
  overflow: hidden;
}


@media screen and (min-width: 1921px) {
  .dashboard-right {
    max-width: 1592px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1919px) {
  .scroll-container {
    overflow: hidden;
    overflow-x: auto;
    &.overview {
      height: 240px !important;
    }
  }
  .content-top {
    padding: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .dashboard-container {
    display: block;
    .common-container {
     height: min-content;
    }
  }
  .dashboard-left {
    height: 100%;
    padding: 30px 10px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    transform: translateX(-100%);
    @include transition(transform, 0.3s ease-in-out);
    &.active {
      transform: translateX(0);
    }
  }
  .dashboard-right {
    @include flex(flex,column,null,null);
    height: 100%;
    overflow-y: auto;
  }
}

@media screen and (max-width: 768px) {
  .header-small {
    margin-top: 20px;
    display: block !important;
    figure {
      max-width: 233px;
      width: 100%;
      margin: 0 auto;
    }
  }
  .dashboard-left {
    max-width: 255px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    header {
      display: none;
    }
  }
  .dashboard-container {
    @include flex(flex, column, null, null);
  }
  .dashboard-right {
    .profile-area {
      width: 50px;
      height: 50px;
      .common-holder {
        width: 50px;
        height: 50px;
        figure {
          width: 21px;
          height: 21px;
        }
      }
    }
    .icon-mobile {
      position: absolute !important;
      top: 30px;
      right: 20px;
      display: block !important;
    }
    .search-holder {
      padding-right: 0;
      margin-right: 0;
    }
    .search-and-profile {
      @include flex(flex, column, null, null);
    }
    .profile-area {
      justify-content: center;
    }
    .title-holder {
      @include flex(flex, column, null, null);
    }
    .data-refreshed-holder {
      @include flex(flex, column, null, null);
    }
    .content-area {
      @include flex(flex, column, null, null);
      .content-left {
        order: 2;
        .courses-wrapper {
          .course-card-holder {
            .course-card {
              width: 257px;
              flex: inherit;
            }
          }
        }
        .course-title {
          @include flex(flex, column, null, null);
        }
      }
      .content-right {
        order: 1;
        max-width: 100%;
        .content-box {
          .reading-list-wrapper {
            .reading-list {
              figure {
                width: 35px;
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
  }
}
