<section class="login-main-container">  
    <div id="particles-js"></div>
    <section class="login-container">
        <div class="login-wrapper">
            <figure><img src="../../../../assets/images/logo-mejestic-hourse-landing.svg" alt="Mejastic Hourse"></figure>
            <h1>Password Reset</h1>
            <p>Please enter your registred Email</p>
            <div class="form-wrapper">
                <form>
                    <div class="input-holder">
                        <label for="username">Email</label>
                        <input type="text" name="username" placeholder="example@email.com">
                    </div> 
                    <button class="btn-login" type="submit">Send Reset</button>
                    <span>Got to Login Page <a href="javascript:void(0)">LOGIN </a></span>
                </form>
            </div>            
        </div>
    </section>
</section>

