<div class="common-wrapper">
  <div class="scoll-wrapper">
    <div class="scroll-container">
      <div class="common-list-wrapper">
        @for (teacher of teachersList | searchFilter: searchText : 'USER_LIST'; track $index) {
        <label class="common-list">
          <input type="checkbox" (change)="onTeacherSelect(teacher, $event.target)">
          <span></span>
          <div class="list-left">
            <figure><img [src]="commonService.decodeUrl(teacher.profileImage ?? '')" alt=""></figure>
            <div class="common-list-right">
              <h4>{{teacher.firstName}} {{teacher.lastName}}</h4>
            </div>
          </div>
          <div class="icon-holder">
            <!-- <button><img src="../../../assets/images/icon-edit.svg" alt=""></button> -->
            <button (click)="deleteTeacher(teacher)"><img src="../../../assets/images/icon-delete.svg"
                alt=""></button>
          </div>
        </label>
        }
      </div>
    </div>
  </div>
  <div class="submit-holder">
    <button class="btn-assign" (click)="approveTeachers()">Approve Teacher</button>
  </div>
</div>