<div class="common-wrapper">
  <div class="scoll-wrapper">
      <div class="scroll-container">
          <div class="common-list-wrapper">
              <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>        
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
            <label class="common-list">
                  <input type="checkbox">
                  <span></span>
                  <div class="list-left">
                    <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                    <div class="common-list-right">
                      <h4>Stevan Store Williams</h4>                                        
                    </div>
                  </div> 
                  <div class="icon-holder">
                    <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                    <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                  </div>                                   
              </label>    
              <label class="common-list">
                <input type="checkbox">
                <span></span>
                <div class="list-left">
                  <figure><img src="../../../assets/images/placeholder.png" alt=""></figure>
                  <div class="common-list-right">
                    <h4>Stevan Store Williams</h4>                                        
                  </div>
                </div> 
                <div class="icon-holder">
                  <button><img src="../../../assets/images/icon-edit.svg" alt=""></button>
                  <button><img src="../../../assets/images/icon-delete.svg" alt=""></button>
                </div>                                   
            </label>    
          </div>
      </div>      
  </div>
  <div class="submit-holder">
    <button>Save</button>
  </div>
</div>
  